<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head> 
    <th:block th:replace="~{fragments/head :: calm-head('상품 목록')}"></th:block>
    <link rel="stylesheet" th:href="@{/assets/css/list.css}" />
</head>
<body>
    <header th:replace="~{/fragments/common :: calm-header}"></header>

    <div class="container">
        <div th:replace="~{/fragments/common :: calm-search}"></div>
        <div th:replace="~{/fragments/common :: calm-search-bg}"></div>
        <div th:replace="~{/fragments/common :: calm-top-btn}"></div>
            
        <!-- body -->
        <div class="list-body" th:if="${products.size() == 0 or products == null}">
            상품이 존재하지 않습니다.
        </div>
        <div class="list-body" th:unless="${products.size() == 0 or products == null}">
            <div class="category-box">
                <a th:href="@{/}">홈</a>

                <a class="category-txt" th:text="${products[0].parentCategoryName == 'ALL'} ? 'ALL' : ${products[0].parentCategoryName}"></a>

                <a class="category-txt" th:text="${products[0].categoryName}" th:classappend="${products[0].parentCategoryName == 'ALL' ? 'displaynone' : null}"></a>
            </div>

            <div class="list-item-box">
                <div class="list-item-exist">
                    <ul>
                        <li th:each="product : ${products}" th:if="${products != null}">
                            <div class="list-item">
                                <a th:href="@{/product/detail/{prodId}(prodId=${product.prodId})}">
                                    <div class="item-img">
                                        <div class="list-item-img">
                                            <img th:src="${product.listImgUrl1}" />
                                        </div>
                                        <div class="hover-item-img" th:if="${product.listImgUrl2 != null}">
                                            <img th:src="${product.listImgUrl2}" />
                                        </div>
                                    </div>
                                </a>
                                <div class="list-item-content">
                                    <div class="item-content-name">
                                        <p th:text="${product.prodNameEng}">ROSEMARY RECOVERY</p>
                                        <a th:text="${product.prodNameKor}" 
                                        th:href="@{/product/detail/{prodId}(prodId=${product.prodId})}">로즈마리 리커버리 샴푸 500ML</a>
                                        <p>지복합, 출산탈모, 로즈마리향, 모근강화</p>
                                    </div>
                                    <div class="item-price">
                                        <span class="discount" th:text="${product.isDiscount == 'Y'} ? ${product.discount} + '%' : null">30%</span>
                                        <span th:text="${#numbers.formatInteger(product.price, 3, 'COMMA') + '원'}" 
                                            th:style="${product.isDiscount == 'Y' ? 'text-decoration: line-through;' : ''}">40,000원</span>
                                        <span class="price" th:if="${product.isDiscount == 'Y'}"
                                            th:text="${#numbers.formatInteger(product.discountPrice, 3, 'COMMA') + '원'}">27,000원</span>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div th:replace="~{/fragments/common :: calm-footer}"></div>

    <div th:replace="~{/fragments/script :: calm-scripts}"></div>

    <script th:src="@{/assets/js/list.js}"></script>
</body>
</html>