<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head> 
    <th:block th:replace="~{fragments/head :: calm-head('상품 목록')}"></th:block>
    <link rel="stylesheet" th:href="@{/assets/css/list.css}" />
</head>
<body>
    <header th:replace="~{/fragments/common :: calm-header}"></header>

    <div class="container">
            
        <!-- body -->
        <div class="list-body">
            <div class="category-box">
                <span>홈</span>
                <span class="category-txt">HAIR</span>
                <span class="category-txt">샴푸</span>
            </div>

            <div class="list-item-box">
                <div class="list-item-exist">
                    <ul>
                        <li>
                            <div class="list-item">
                                <div class="list-item-img">
                                    <img src="https://placehold.co/200x200"/>
                                </div>
                                <div class="list-item-content">
                                    <div class="item-content-name">
                                        <p>ROSEMARY RECOVERY</p>
                                        <a href="#">로즈마리 리커버리 샴푸 500ML</a>
                                        <p>지복합, 출산탈모, 로즈마리향, 모근강화</p>
                                    </div>
                                    <div class="item-price">
                                        <span class="discount">30%</span><span>40,000원</span>
                                        <span class="normal-price">일반 회원가</span><span class="price">27,000원</span>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="list-item">
                                <div class="list-item-img">
                                    <img src="https://placehold.co/200x200"/>
                                </div>
                                <div class="list-item-content">
                                    <div class="item-content-name">
                                        <p>ROSEMARY RECOVERY</p>
                                        <a href="#">로즈마리 리커버리 샴푸 500ML</a>
                                        <p>지복합, 출산탈모, 로즈마리향, 모근강화</p>
                                    </div>
                                    <div class="item-price">
                                        <span class="discount">30%</span><span>40,000원</span>
                                        <span class="normal-price">일반 회원가</span><span class="price">27,000원</span>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="list-item">
                                <div class="list-item-img">
                                    <img src="https://placehold.co/200x200"/>
                                </div>
                                <div class="list-item-content">
                                    <div class="item-content-name">
                                        <p>ROSEMARY RECOVERY</p>
                                        <a href="#">로즈마리 리커버리 샴푸 500ML</a>
                                        <p>지복합, 출산탈모, 로즈마리향, 모근강화</p>
                                    </div>
                                    <div class="item-price">
                                        <span class="discount">30%</span><span class="discount-price">40,000원</span>
                                        <span class="normal-price">일반 회원가</span><span class="price">27,000원</span>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="list-item">
                                <div class="list-item-img">
                                    <img src="https://placehold.co/200x200"/>
                                </div>
                                <div class="list-item-content">
                                    <div class="item-content-name">
                                        <p>ROSEMARY RECOVERY</p>
                                        <a href="#">로즈마리 리커버리 샴푸 500ML</a>
                                        <p>지복합, 출산탈모, 로즈마리향, 모근강화</p>
                                    </div>
                                    <div class="item-price">
                                        <span class="discount">30%</span><span>40,000원</span>
                                        <span class="normal-price">일반 회원가</span><span class="price">27,000원</span>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div th:replace="~{/fragments/common :: calm-footer}"></div>

    <script th:src="@{/assets/js/list.js}"></script>
</body>
</html>