<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calmomentree</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700;900&amp;display=swap" />
    <link rel="stylesheet" href="/src/main/resources/static/assets/css/reset.css" />
    <link rel="stylesheet" href="/src/main/resources/static/assets/css/common.css" />
    <link rel="stylesheet" href="/src/main/resources/static/assets/css/list.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />

</head>

<body>
    <div th:replace="~{/fragments/header :: calm-header}"></div>

    <div class="container">
            
        <!-- body -->
        <div class="list-body">
            <div class="category-box">
                <span>홈</span>
                <span class="category-txt">HAIR</span>
                <span class="category-txt">샴푸</span>
            </div>

            <div class="list-item-box">
                <div class="list-item-exist">
                    <ul>
                        <li>
                            <div class="list-item">
                                <div class="list-item-img">
                                    <img src="https://placehold.co/200x200"/>
                                </div>
                                <div class="list-item-content">
                                    <div class="item-content-name">
                                        <p>ROSEMARY RECOVERY</p>
                                        <a href="#">로즈마리 리커버리 샴푸 500ML</a>
                                        <p>지복합, 출산탈모, 로즈마리향, 모근강화</p>
                                    </div>
                                    <div class="item-price">
                                        <span class="discount">30%</span><span>40,000원</span>
                                        <span class="normal-price">일반 회원가</span><span class="price">27,000원</span>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="list-item">
                                <div class="list-item-img">
                                    <img src="https://placehold.co/200x200"/>
                                </div>
                                <div class="list-item-content">
                                    <div class="item-content-name">
                                        <p>ROSEMARY RECOVERY</p>
                                        <a href="#">로즈마리 리커버리 샴푸 500ML</a>
                                        <p>지복합, 출산탈모, 로즈마리향, 모근강화</p>
                                    </div>
                                    <div class="item-price">
                                        <span class="discount">30%</span><span>40,000원</span>
                                        <span class="normal-price">일반 회원가</span><span class="price">27,000원</span>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="list-item">
                                <div class="list-item-img">
                                    <img src="https://placehold.co/200x200"/>
                                </div>
                                <div class="list-item-content">
                                    <div class="item-content-name">
                                        <p>ROSEMARY RECOVERY</p>
                                        <a href="#">로즈마리 리커버리 샴푸 500ML</a>
                                        <p>지복합, 출산탈모, 로즈마리향, 모근강화</p>
                                    </div>
                                    <div class="item-price">
                                        <span class="discount">30%</span><span class="discount-price">40,000원</span>
                                        <span class="normal-price">일반 회원가</span><span class="price">27,000원</span>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="list-item">
                                <div class="list-item-img">
                                    <img src="https://placehold.co/200x200"/>
                                </div>
                                <div class="list-item-content">
                                    <div class="item-content-name">
                                        <p>ROSEMARY RECOVERY</p>
                                        <a href="#">로즈마리 리커버리 샴푸 500ML</a>
                                        <p>지복합, 출산탈모, 로즈마리향, 모근강화</p>
                                    </div>
                                    <div class="item-price">
                                        <span class="discount">30%</span><span>40,000원</span>
                                        <span class="normal-price">일반 회원가</span><span class="price">27,000원</span>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div th:replace="~{/fragments/header :: calm-footer}"></div>

    <script src="/src/main/resources/static/assets/js/list.js"></script>
</body>
</html>