<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head> 
    <th:block th:replace="~{/fragments/head :: calm-head('상품 검색')}"></th:block>
    <link rel="stylesheet" th:href="@{/assets/css/search.css}" />
</head>
<body>
    <header th:replace="~{/fragments/common :: calm-header}"></header>

    <div class="container">
        <div th:replace="~{/fragments/common :: calm-search}"></div>
        <div th:replace="~{/fragments/common :: calm-search-bg}"></div>
        <div th:replace="~{/fragments/common :: calm-top-btn}"></div>

        <div class="search-body">
            <div class="title-box">
                <h2>SEARCH</h2>
            </div>

            <div class="search-field">
                <form class="search-text" method="get" th:action="@{/product/search}">
                    <input class="text" type="text" name="keyword" th:value="${keyword}" />
                    <button class="img" type="submit"><img th:src="@{/files/common/search.svg}" /></button>
                    <div class="sort-box">
                        <select name="order_by" th:value="${orderBySelected}" oninput="this.form.submit()">
                            <option value="">== 기준선택 ==</option>
                            <option th:selected="${orderBySelected} == 'recent'" value="recent">신상품</option>
                            <option th:selected="${orderBySelected} == 'name'" value="name">상품명</option>
                            <option th:selected="${orderBySelected} == 'priceasc'" value="priceasc">낮은가격</option>
                            <option th:selected="${orderBySelected} == 'pricedesc'" value="pricedesc">높은가격</option>
                            <option th:selected="${orderBySelected} == 'manu_name'" value="manu_name">제조사</option>
                            <option th:selected="${orderBySelected} == 'review'" value="review">후기</option>
                        </select>
                    </div>
                </form>
            </div>

            <div class="search-result-box">
                <p class="search-result">상품 검색 결과 <strong class="result" th:unless="${pagination == null}" th:text="${pagination.totalCount}"></strong></p>                
            </div>

            <div class="category-box">
                <a th:href="@{/}">홈 ></a>
                <a th:href="@{/product/search}">상품검색</a>
            </div>

            <div class="search-item-box" th:unless="${products == null}">
                <div class="search-item-exist">
                    <ul>
                        <li th:each="product : ${products}">
                            <div class="list-item">
                                <a th:href="@{/product/detail/{prodId}(prodId=${product.prodId})}">
                                    <div class="list-item-img">
                                        <img th:src="${product.listImgUrl1}" />
                                    </div>
                                </a>
                                <div class="list-item-content">
                                    <div class="item-content-name">
                                        <p th:text="${product.prodNameEng}">ROSEMARY RECOVERY</p>
                                        <a th:text="${product.prodNameKor}" 
                                        th:href="@{/product/detail/{prodId}(prodId=${product.prodId})}">로즈마리 리커버리 샴푸 500ML</a>
                                        <p>지복합, 출산탈모, 로즈마리향, 모근강화</p>
                                    </div>
                                    <div class="item-price">
                                        <span class="discount" th:text="${product.isDiscount == 'Y'} ? ${product.discount} + '%' : null">30%</span>
                                        <span th:text="${#numbers.formatInteger(product.price, 3, 'COMMA') + '원'}" 
                                            th:style="${product.isDiscount == 'Y' ? 'text-decoration: line-through;' : ''}">40,000원</span>
                                        <span class="price" th:if="${product.isDiscount == 'Y'}"
                                            th:text="${#numbers.formatInteger(product.discountPrice, 3, 'COMMA') + '원'}">27,000원</span>
                                    </div>
                                </div>
                            </div>
                        </li>                 
                    </ul>
                </div>
                <div class="page-number">
                    <ul class="pagination">
                        <li th:if="${pagination.prevPage > 0}">
                            <a th:href="@{/product/search(keyword=${keyword}, page=${pagination.prevPage})}">&laquo;</a>
                        </li>
                        <li th:unless="${pagination.prevPage > 0}"><a>&laquo;</a></li>
                        
                        <li th:each="i : ${#numbers.sequence(pagination.startPage, pagination.endPage)}">
                            <a th:if="${i == pagination.nowPage}" class="active" th:text="${i}" />
                            <a th:unless="${i == pagination.nowPage}" th:text="${i}" th:href="@{/product/search(keyword=${keyword}, page=${i})}" />
                        </li>
                
                        <li th:if="${pagination.nextPage > 0}">
                            <a th:href="@{/product/search(keyword=${keyword}, page=${pagination.nextPage})}">&raquo;</a>
                        </li>
                        <li th:unless="${pagination.nextPage > 0}"><a>&raquo;</a></li>
                    </ul>
                </div>
            </div>
            <div class="search-item-none" th:if="${products == null or pagination.totalCount == 0}">
                <h2><i class="fa-regular fa-circle-xmark"></i></h2>
                <h3>검색결과가 없습니다.</h3>
                <p>정확한 검색어 인지 확인하시고 다시 검색해 주세요.</p>
                <p>
                    검색어/제외검색어의 입력이 정확한지 확인해 보세요.
                    <br />
                    두 단어 이상의 검색어인 경우, 띄어쓰기를 확인해 보세요.
                </p>
            </div>
        </div>
    </div>

    <footer th:replace="~{/fragments/common :: calm-footer}"></footer>

    <th:block th:replace="~{/fragments/script}"></th:block>
</body>
</html>