:root {
    --background-color: #FAF8EF;
    --font-color: #1c1c1c;
    --font-color-gray: #5e5e5e;
    --font-color-whitegray: #f3f0eb;
    --font-color-white: #FBF9EF;
    --font-size-title: 24px;
    --font-size-small: 12px;
    --font-size-medium: 14px;
    --font-size-large: 16px;
    --font: 'Noto Sans KR', 'Pretendard', 'sans-serif', 'dotum';
    --btn-color-black: #1c1c1c;
    --btn-font-color-white: #fff;
    --table-color-gray: #e9e5dd;
    --input-border: #e0e0e0;
    --input-color: #f3f0eb;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    color: var(--font-color);
}

body {
    background-color: var(--background-color);
    font-family: var(--font);
    width: 100%;
}

/* 모든 버튼 및 링크 커서 */
button, a {
    cursor: pointer;
}

/* Test용 disaplay: none; */
.displaynone {
    display: none;
}

/* popup */
.popup {
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100vh;
    position: fixed;
    display: none;
    z-index: 100000000;
    overflow: hidden;

    .popup-box {
        border-radius: 30px;
        box-shadow: 0 0 10px #000000;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 999999999;
        display: flex;
        
        img {
            position: relative;
            border-radius: 30px;
        }

        label {
            position: absolute;
            left: 17px;
            top: 20px;
            font-size: 14px;
            color: #f3f0eb;

            input {
                margin-right: 8px;
            }
        }

        button {
            position: absolute;
            top: 14px;
            right: 17px;
            background-color: rgba(0, 0, 0, 0);
            border: none;
        }
    }
}

/* header */
.banner {
    width: 100%;
    text-align: center;
    overflow: hidden;
    transition: 0.6s;
    height: 72px;
    z-index: 10;

    a {
        color: #FBF9EF;
        font-size: 13px;
        font-weight: 500;
    }

    .top {
        background-color: #1c1c1c;
        padding: 10px;
    }

    .bottom {
        background-color: #72161D;
        padding: 10px;
    }

    &.on {
        transform: translateY(-101%);
    }
}

.menu {
    position: fixed;
    width: 100%;
    top: 0;
    background-color: var(--background-color);
    transition: 0.6s;
    margin-top: 72px;
    z-index: 999999999;

    &.on {
        margin-top: 0;
    }

    .menu-inner {
        width: 100%;
        height: 65px;
        padding: 0 50px;
        margin: 0 auto;
        display: flex;
        background-color: var(--background-color);
        justify-content: space-between;

        .menu-title {
            align-content: center;

            img {
                width: 180px;
            }
        }

        .menu-category {

            .category-inner {
                
                .sub-category-box {
                    left: 0;
                    width: 100%;
                    position: absolute;
                    background-color: var(--background-color);
                    z-index: 99999;
                    visibility: hidden;
                    transition: all 0.4s ease-in-out;
                    height: 400px;
                    opacity: 0;

                    &.on {
                        visibility: visible;
                        opacity: 1;
                    }

                    img {
                        position: absolute;
                        right: 0;
                        margin: 2%;
                        width: 300px;
                    }
                }

                .category-list {
                    display: flex;
                    height: 65px;
                    line-height: 65px;

                    .category-item {
                        width: 90px;
                        height: 100%;
                        margin-left: 5px;
                        text-align: center;
                        font-size: var(--font-size-medium);
                        text-wrap: nowrap;
                        position: relative;
                        
                        .sub-category {
                            position: absolute;
                            z-index: 9999999;
                            text-align: center;
                            top: 80px;
                            width: 100%;
                            font-size: var(--font-size-small);
                            font-weight: 500;
                            visibility: hidden;
                            transition: all 0.5s ease-in-out;
                            opacity: 0;
                            
                            &.on {
                                visibility: visible;
                                opacity: 1;
                            }

                            li {
                                height: 30px;
                                line-height: 40px;
                            }
                        }
                    }
                }
            }
        }

        .other-menu {
            text-wrap: nowrap;

            .other-menu-list {
                height: 100%;
                display: flex;
                gap: 18px;
                align-items: center;

                a {
                    font-size: var(--font-size-small);
                }

                .b2b-btn {
                    font-size: var(--font-size-medium);
                    border: 1px solid var(--btn-color-black);
                    padding: 10px;
                }

                .search-btn {
                    background-color: var(--background-color);
                    border: 0;
                    width: 21px;

                    img {
                        width: 100%;
                    }
                }
            }
            
        }
    }
}

.container {
    margin: 200px 0;
    height: auto;
}

.search-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: 0.5s;
    visibility: hidden;
    opacity: 0;
    z-index: 999999999;

    .search-box {
        width: 100%;
        height: 100%;

        .search-form {
            position: relative;
            width: 100%;

            input {
                width: 100%;
                height: 120px;
                text-align: right;
                padding: 30px 10%;
                font-size: var(--font-size-title);
                position: absolute;
                border: none;
                border-radius: 0 0 20px 20px;

                &:focus {
                    outline: none;
                }
            }

            button {
                position: absolute;
                right: 7.5%;
                top: 40px;
            }
        }
    }

    &.on {
        visibility: visible;
        opacity: 1;
        transform: translateZ(0);
    }
}

.search-background {
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000000;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;

    &.on {
        visibility: visible;
        opacity: 1;
        transform: translateZ(0);
    }
}

.top-btn-box {
    position: fixed;
    visibility: hidden;
    bottom: 10%;
    right: 7%;
    z-index: 99999;
    transition: all 0.5s ease-in-out;
    opacity: 0;

    button {
        padding: 18px;
        background-color: var(--btn-font-color-white);
        color: var(--font-color);
        border: none;
        border-radius: 10px;
        cursor: pointer;
    }

    &.scroll {
        visibility: visible;
        opacity: 1;
    }
}

/* footer */
.footer {
    background-color: #1c1c1c;
    padding: 50px 0;
    z-index: -100;
    overflow: hidden;
    text-wrap: nowrap;
    width: 100%;
    margin-top: auto;

    span, p, a {
        color: #FBF9EF;
        font-size: 12px;
    }
    
    .footer-container {
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        width: 90%;
        gap: 45px;

        .footer-title {
            text-align: left;
            position: relative;

            .img-title {
                margin: 10px auto;
            }

            .img-logo {
                position: absolute;
                margin-top: 20px;
                bottom: 10px;
            }

            p {
                margin: 10px auto;
            }
        }

        .footer-info {
            position: relative;

            .cs-info, address, .copy-box {
                margin: 20px 0;
            }

            .cs-info {
                margin-top: 3px;
            }

            span {
                margin-right: 5px;
                line-height: 180%;
            }
        }

        .footer-right {
            
            .footer-inquiry {
                display: block;
                text-align: right;

                p {
                    line-height: 150%;
                }

                .inquiry-btn {
                    display: inline-block;
                    text-align: center;
                    border: 1px solid #FBF9EF;
                    width: 90px;
                    height: 35px;
                    line-height: 35px;
                    margin-top: 20px;
                    font-size: 14px;
                    font-weight: bold;
                    color: #FBF9EF;
                    cursor: pointer;
                    
                    &:hover {
                        background-color: #FBF9EF;
                        color: #1c1c1c;
                    }
                }
            }

            .footer-menu {
                margin-top: 30px;

                .footer-menu-list{
                    display: flex;

                    a {
                        display: block;
                    }

                    .footer-list-title {
                        font-size: 15px;
                        margin: 0 10px;

                        .sns-list, .business-list {
                            margin: 20px 0;
                            
                            a {
                                margin: 10px 0;
                                font-size: 10px;

                            }
                        }
                    }
                }
            }
        }
    }
}
