:root {
    --background-color: #FAF8EF;
    --font-color: #1c1c1c;
    --font-color-gray: #5e5e5e;
    --font-color-whitegray: #f3f0eb;
    --font-color-white: #FBF9EF;
    --font-size-title: 24px;
    --font-size-small: 12px;
    --font-size-medium: 14px;
    --font-size-large: 16px;
    --font: 'Noto Sans KR', 'Pretendard', 'sans-serif', 'dotum';
    --btn-color-black: #1c1c1c;
    --btn-font-color-white: #fff;
    --table-color-gray: #e9e5dd;
    --input-border: #e0e0e0;
    --input-color: #f3f0eb;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    color: var(--font-color);
}

body {
    background-color: var(--background-color);
    font-family: var(--font);
    width: 100%;
}

.displaynone {
    display: none;
}

input[type="checkbox"] {
    width: 0.7rem;
    height: 0.7rem;
    border-radius: 50%;
    border: 1px solid #999;
    appearance: none;
    cursor: pointer;
}

input[type="checkbox"]:checked {
    background: var(--font-color);
    border: none;
}

input[type="radio"] {
    width: 13px;
    height: 13px;
    appearance: none;
    background: url(/assets/img/icon_radio.svg) no-repeat center;
}

input[type="radio"]:checked {
    appearance: none;
    transition: .2s ease-out;
    background: url(/assets/img/icon_radio_checked_ren.svg) no-repeat center;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="date"] {
    width: 100%;
    font: var(--font);
    height: 40px;
    margin-bottom: 5px;
    border: 0;
    border-bottom: 1px solid #000;
    font-size: var(--font-size-medium);

    &:focus {
        outline: none;
    }
}

.input-info {
    font-size: 10px;
    width: 100%;
    text-align: right;
}

.container {
    width: 100%;
    height: 100%;
    margin: 100px 0;

    .join-body {
        width: 50%;
        margin: 100px auto;

        .head-title {
            width: 100%;
            padding: 5px;
            margin-bottom: 20px;
            border-bottom: 1px solid #000;

            p {
                font-size: var(--font-size-title);
                font-weight: 500;

                span {
                    font-size: var(--font-size-medium);
                    margin-left: 10px;
                    font-weight: 300;
                    letter-spacing: -0.7px;
                }
            }
        }

        .join-form {
            width: 50%;
            min-width: 300px;
            float: none;
            margin-left: auto;
            margin-right: 0;

            .join-btn, .find-btn {
                width: 100%;
                background-color: var(--btn-color-black);
                color: var(--btn-font-color-white);
                padding: 8px;
            }

            .find-method {
                label {
                    margin-right: 5px;
                }

                p {
                    margin: 15px 0;
                    font-weight: 700;
                    font-size: var(--font-size-medium);
                }
            }              

            .input-box {
                margin: 20px 0;


                &.tel-box {
                    select{
                        width: 31%;
                        height: 40px;
                        border: 0;
                        border-bottom: 1px solid #000;
                        background-color: transparent;
                    }

                    input {
                        width: 31%;
                    }
                }

                &.addr-box {     
                    position: relative;
                    
                    input {
                        background-color: var(--font-color-whitegray);

                        &:last-child {
                            text-align: right;
                        }
                    }

                    button {
                        position: absolute;
                        right: 0;
                        width: 70px;
                        height: 39px;
                        font-size: var(--font-size-small);
                        border: none;
                        cursor: pointer;
                    }
                }

                &.add-info-box {
                    display: flex;
                    flex-direction: column;

                    label {
                        border-bottom: 1px solid #000;
                        margin-bottom: 10px;
                        height: 30px;
                    }

                    input {
                        font-size: 15px;
                        font-weight: 300;
                    }
                }

                &.agree-box {
                    font-size: var(--font-size-small);

                    .item {
                        cursor: pointer;
                        padding: 5px;
                        width: 100%;
                        font-weight: normal;
                        margin: 0;
                        text-align: left;
                        outline: none;
                        position: relative;
                    }

                    .title {
                        border-bottom: 1px solid #000;
                        margin-bottom: 10px;
                        line-height: 120%;

                        #agree-content-btn {
                            border: solid black;
                            border-width: 0 1px 1px 0;
                            display: inline-block;
                            cursor: pointer;
                            padding: 4px;
                            margin: 2px;
                            transform: rotate(45deg);
                            -webkit-transform: rotate(45deg);
                            position: absolute;
                            right: 8px;
                            transition: all 0.3s ease-in-out;

                            &.active {
                                transition: all 0.3s ease-in-out;
                                transform: rotate(-135deg);
                                -webkit-transform: rotate(-135deg);
                            }
                        }
                    }
            
                    .content {
                        padding: 0 18px;
                        max-height: 0;
                        overflow: hidden;
                        transition: max-height 0.2s ease-out;
                    }
                }
            }

            #password-focus {
                position: absolute;
                background-color: #fff;
                z-index: 9999;
                box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.15);
                width: 250px;

                .password-content {
                    padding: 10px 14px;
                    font-size: var(--font-size-small);
                    line-height: var(--font-size-large);

                    strong {
                        line-height: 30px;
                    }

                    button:before, button:after {
                        position: absolute;
                        top: 12px;
                        right: 18px;
                        content: ' ';
                        height: 18px;
                        width: 2px;
                        background-color: #000;
                    }

                    button:before {
                        transform: rotate(45deg);
                    }

                    button:after {
                        transform: rotate(-45deg);
                    }
                    
                }

                &.password-on {
                    display: block;
                }

                &.password-off {
                    display: none;
                }
            }
        }
    }
}