:root {
  --background-color: #faf8ef;
  --font-color: #1a1a1a;
  --font-color-gray: #5e5e5e;
  --font-size-title: 26px;
  --font-size-content: 12px;
  --font-size-item: 16px;
  --font: "Noto Sans KR", "Pretendard", "sans-serif", "dotum";
  --border: 1px solid #1a1a1a;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  color: var(--font-color);
  font-family: var(--font);
  
}
body {
  background-color: var(--background-color);
}
.container-box {
  display: flex;
  width: 90%;
  margin: auto;
  padding-top: 200px;
}

.side-bar {
  width: 20%;
  height: 100vh;

  .board-box {
    width: 50%;
    margin: 40px auto;
    height: 250px;

    .board-inner {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      
      li {
        padding: 3px 0;
        
        a {
          &:hover {
            color: #000;
            font-weight: 600;
          }
          
          &.active {
            border-bottom: var(--border);
          }
        }
      }
    }
  }
}
input[type=date] {
  border: none;
  border-bottom: 1px solid #1a1a1a;
  background-color: var(--background-color);
}

.container {
  min-width: 60%;
  display: flex;
  margin: 0 10px;
  line-height: 1.3;
}

.myshop-area {
  width: 100%;

  .myshop-title {
    height: 40px;
    padding: 0 0 10px;
    border-bottom: var(--border);
    font-size: var(--font-size-title);

    &.board-select {
      display: flex;
      justify-content: space-between;
      position: relative;

      option {
        background-color: #fff;
      }
    }

    #board-sort {
      position: absolute;
      right: 0;
      bottom: 0;
      height: 38px;
      width: 120px;
      padding-left: 10px;
      background: #f3f0eb;
      border: none;
    }
  }


  .myshop-tab {
    margin-bottom: 58px;

    .menuOrder {
      display: flex;
      padding-top: 8px;

      .menu-list {
        padding-right: 25px;
      }
    }
  }

  .order-history-box {
    .state-select {
      display: flex;
      padding-top: 8px;
      justify-content: space-between;
      .select-status {
        border: none;
        border-bottom: var(--border);
        background-color: var(--background-color);
        &.blind {
          display: none;
        }
        option {
            background-color: #fff;
        }
      }

      .date {
        display: flex;
        flex-direction: row-reverse;

        .btn-submit {
          width: 78px;
          height: 24px;
          margin-left: 15px;
          background-color: #1a1a1a;
          color: var(--background-color);
        }
      }
      .period {
        a {
          font-size: 13px;
          padding-left: 15px;
        }
      }
    }

    .board {
      min-height: 80px;
      width: 100%;
      text-align: left;

      .board-num {
        width: 10%;
      }

      .board-name {
        width: 70%;
        
        span {
          padding-left: 10px;
        }
      }

      .board-place {
        width: 10%;
      }
    }
  }
}
.order-list {
  margin-top: 40px;
  border-top: var(--border);
  min-height: 25vh;

  &.board-list {
    margin: 0;
  }

  .order {
    border-bottom: 1px dotted #1a1a1a;
    padding: 15px 0 15px;
    display: flex;
    text-align: center;
    align-items: center;

    .order-num {
      width: 10%;
    }

    .description {
      width: 100%;
      display: flex;
      justify-content: space-between;
      padding: 15px;
    }

    .prd-status {
      width: 15%;
    }
  }
}

.pagination {
  margin-top: 50px;
  display: flex;
  justify-content: center;

  li {
    margin: 10px;
  }
}
