:root {
  --background-color: #faf8ef;
  --font-color: #1c1c1c;
  --font-color-gray: #5e5e5e;
  --font-color-whitegray: #f3f0eb;
  --font-color-title: #fbf9ef;
  --font-size-title: 40px;
  --font-size-item: 24px;
  --font-size-large: 16px;
  --font-size-content: 14px;
  --font-size-small: 12px;
  --font: "Noto Sans KR", "Pretendard", "sans-serif", "dotum";
  --btn-color-black: #1c1c1c;
  --btn-font-color-white: #fff;
  --table-color-gray: #e9e5dd;
  --input-border: #e0e0e0;
  --input-color: #f3f0eb;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font: var(--font);
  list-style: none;
  text-decoration: none;
  color: var(--font-color);
}

body {
  background-color: var(--background-color);
  font-family: var(--font);
  width: 100%;
}

.container {
  display: flex;
  position: relative;
  width: 90%;
  margin: auto;
  padding: 200px 0  150px 0;
}

.container {
  display: flex;
}

.main-container {
  width: 60%;
  margin: auto;
}

.board-box {
  width: 15%;
  text-align: center;
  margin-top: 40px;
  margin-right: 30px;

  .board-inner {
    text-align: left;
    display: flex;
    flex-direction: column;
    margin-left: 90px;

    li {
      padding-bottom: 24px;

      a {
        font-size: 14px;

        &:hover {
          color: #000;
          font-weight: 600;
        }
      }
    }
  }
}

.inner-box {
  max-width: 840px;
  width: 80%;
  margin: 0 auto;
  height: 100%;
  position: relative;
}

.table-container {
  max-width: 840px;
  width: 80%;
  margin: 0 auto;
  height: 100%;
  position: relative;

  .title-wr {
    border-bottom: 1px solid #1c1c1c;
    height: 45px;
    line-height: 45px;
    font-weight: 500;
    font-size: var(--font-size-item);
  }

  table {
    width: 100%;
    margin-bottom: 50px;
    font-size: 12px;
    font-weight: 600;

    tr {
      border-bottom: 1px solid #1c1c1c;
      .chk-no {
        color: #6d6d6d;
      }
      td {
        padding: 18px 0;
        align-content: center;
        text-align: center;
      }

      .subject {
        text-align: left;
        padding-left: 20px;
      }
    }
  }
}

.paging-box {
  margin-top: 50px;
  text-align: center;

  .pagination {
    list-style: none;
    padding: 0;
    margin: 15px 0;
    display: flex;
    justify-content: center;

    a {
      display: block;
      padding: 0 7px;
      color: var(--font-color);
      text-decoration: none;
      font-size: var(--font-size-large);

      &.active {
        color: white;
      }
    }
  }
}

.btn-area {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;

  .btn1 {
    width: 110px;
    height: 35px;
    border: none;
    background-color: #1c1c1c;

    a {
      color: var(--font-color-title);
      font-size: 14px;
    }
  }
}

.search-box {
  margin-top: 34px;
  display: flex;
  flex-direction: row-reverse;

  .form {
    display: flex;
    border-bottom: 1px solid #000;

    ::placeholder {
      color: #979494;
      font-family: "Noto Sans KR", "Pretendard", "malgun gothic", "돋움";
    }

    input {
      border: none;
      width: 261px;
      height: 35px;
      margin-right: 15px;
      background: none;
      font-size: 16px;

      &:focus {
        outline: none;
      }
    }

    a {
      display: block;
      color: #fff;
      background-color: #000;
      font-size: 14px;
      width: 110px;
      height: 38px;
      line-height: 38px;
      text-align: center;
      margin-top: 2px;
    }
  }
}

.board-prod {
  display: flex;
  padding: 10px 0;
  border-bottom: 1px solid var(--btn-color-black);

  .prod-info {
    padding-left: 15px;
    line-height: 1.5;
  }
}

.board-head {
  padding: 10px 0;
  border-bottom: 1px solid #eaeaea;
  line-height: 1.5;

  .board-writer {
    padding-top: 10px;

    span {
      padding-right: 15px;
    }
  }
}
.attach {
  padding: 20px 0;
  margin: 0 16px;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
}
.detail {
  width: 100%;
  padding: 20px 0;
  .img {
    padding: 10px 0;
  }
  .article {
    text-align: left;
  }
}
.btn-area-read {
  margin: 25px 0 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  .btn {
    background-color: var(--background-color);
    border: 1px solid #bcbcbc;
    text-align: center;
  }
  .btn1 {
    min-width: 96px;
  }
  a {
    display: inline-block;
    padding: 12px 20px;
  }
}

.only-manager {
  margin: 50px 0;
}
.page-mov-box {
  margin-bottom: 150px;
  .page-box {
    line-height: 60px;
    height: 60px;
    i {
      padding-left: 5px;
    }
    span {
      padding-left: 50px;
    }
  }
  .page-mov-prev {
    border-bottom: 1px solid #eaeaea;
  }
}
/* board > product > write.html */
.containerBox {
  width: 50%;
  margin: auto;
  padding-top: 200px;
  
  .titleBox {
    .title {
      display: block;
      height: 50px;
      line-height: 50px;
      font-size: var(--font-size-item);
      border-bottom: 1px solid #1c1c1c;
    }
    .selectProd {
      display: flex;
      align-items: center;
      padding: 10px 0;
      .select {
        border: 1px solid #bcbcbc;
        padding: 10px;
        margin-left: 10px;
      }
    }
  }
  table {
    width: 100%;
    border-top: 1px solid var(--btn-color-black);
    text-align: left;

    th {
      padding-left: 20px;
      background-color: var(--table-color-gray);
    }
    td {
      border-bottom: 1px solid var(--input-border);
      padding: 10px;
    }
    input {
      border: 1px solid var(--input-border);
      background-color: var(--background-color);
      padding: 5px 10px;
      &:focus {
        outline: none;
      }
    }
    input[type="text"] {
      width: 98%;
      margin: 5px 10px 30px 10px;
    }
    .star {
      padding: 15px 10px;
    }
    .contentBox {
      display: block;
      min-height: 500px;
      
      .ck.ck-editor {
        width: 100%;
      }
      
      .ck.ck-content {
        min-height: 500px;
      }
    }
  }
  .btnArea {
    text-align: right;
    margin-top: 30px;
    margin-bottom: 150px;
    .btn {
      padding: 10px 50px;
      border: 1px solid var(--input-border);
      cursor: pointer;
      &:hover {
        border: 1px solid var(--font-color-gray);
      }
    }
    .cancelBtn {
      margin-right: 5px;
      background-color: var(--background-color);
    }
    .uploadBtn {
      background-color: var(--btn-color-black);
      color: var(--background-color);
    }
  }
  
}
.modify {
  width: 100%;
  padding-top: 100px;
  .btnArea {
    position: relative;
    
    .goList {
      position: absolute;
      left: 0;
      padding: 10px 50px;
      border: 1px solid var(--input-border);
      background-color: var(--background-color);
      cursor: pointer;
      &:hover {
        border: 1px solid var(--font-color-gray);
      }
    }
  }
  .qna {
    padding: 5px 10px;
    width: 350px;
    font-size: var(--font-size-small);
    background-color: var(--font-color-whitegray);
  }
}