:root {
    --background-color: #FAF8EF;
    --font-color: #1c1c1c;
    --font-color-gray: #5e5e5e;
    --font-size-title: 24px;
    --font-size-content: 12px;
    --font-size-item: 14px;
    --font: 'Noto Sans KR', 'Pretendard', 'sans-serif', 'dotum';
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    color: var(--font-color);
}

body {
    background-color: var(--background-color);
    font-family: var(--font);
    width: 100%;
}

.container {
    width: 100%;

    .search-body {
        width: auto;
        margin: 0 auto;
        padding: 0 5%;

        .title-box {
            margin: 30px 0;
            
            h2 {
                font-size: var(--font-size-title);
                margin: 0 auto;
                width: 100%;
                text-align: center;
                letter-spacing: 2px;
            }
        }

        .search-field {
            border-bottom: 1px solid #000;
            margin-bottom: 30px;
            padding: 0 15px;
            position: relative;
            width: 50%;
            left: 0;
            transform: translate(50%, 0);

            .text {
                border: none;
                width: 100%;
                height: 40px;
                border: none;
                background: transparent;
                color: var(--font-color);
                font-size: var(--font-size-item);

                &:focus {
                    outline: none;
                }
            }

            .img {
                position: absolute;
                top: 50%;
                right: 0;
                transform: translate(-20%, -50%);
            }
        }
        
        .search-result-box{
            display: flex;
            justify-content: space-between;
            margin-bottom: 20px;

            .search-result {
                font-size: var(--font-size-content);
                align-content: center;
            }

            .sort-box {
                margin-right: 2%;
                
                select {
                    padding: 10px 7px;
                    background-color: var(--background-color);
                    filter: brightness(95%);
                    font-size: var(--font-size-item);
                }
            }
        }

        .category-box {
            font-size: var(--font-size-content);
            margin-bottom: 20px;
        }

        .search-item-exist {

            ul {
                display: flex;
                flex-wrap: wrap;

                li {
                    width: calc(25% - 16px);
                    margin-right: 16px;

                    .list-item {
                        
                        .list-item-img {
                            width: auto;
                            margin: 0 auto;

                            img {
                                width: 100%;
                            }
                        }

                        .list-item-content {                    
                            display: flex;
                            margin-top: 5px;
                            width: 100%;
                            justify-content: space-between;
                            font-size: var(--font-size-content);

                            .item-content-name {
                                line-height: 150%;
                                
                                p {
                                    &:first-child {
                                        color: var(--font-color-gray);
                                    }
                                }

                                a {
                                    font-size: var(--font-size-item);
                                }
                            }

                            .item-price {
                                display: flex;
                                flex-direction: column;
                                text-align: right;
                                line-height: 110%;
                            }
                        }
                    }
                }
            }
        }

        .page-number {

            .pagination {
                display: flex;
                margin: 20px;
                width: 100%;
                justify-content: center;

                li {
                    height: 100%;
                    line-height: 100%;
                }

                a {
                    display: block;
                    font-size: var(--font-size-content);
                    font-weight: 700;         
                    margin: 10px 5px;
                    color: black;
                    text-decoration: none;

                    &.left {
                        font-size: var(--font-size-title);
                        font-weight: 500;
                        margin-right: 10px;
                    }

                    &.right {
                        font-size: var(--font-size-title);
                        font-weight: 500;
                        margin-left: 10px;
                    }
                }
            }
        }
    }
}