<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
    <th:block th:replace="~{fragments/head :: calm-head('장바구니')}"></th:block>
    <link rel="stylesheet" th:href="@{/assets/css/basket.css}" />
    <style>
      form {
        display: flex;
      }
    </style>
  </head>
  <body>
    <header th:replace="~{/fragments/common :: calm-header}"></header>

    <div class="container">
      <div th:replace="~{/fragments/common :: calm-search}"></div>
      <div th:replace="~{/fragments/common :: calm-search-bg}"></div>
      <div th:replace="~{/fragments/common :: calm-top-btn}"></div>

      <div class="title">Cart</div>

      <!-- 장바구니에 상품이 없을 경우 -->
      <div th:if="${orderBasket.size() == 0 }" class="basketEmpty">
        <p>장바구니가 비어 있습니다.</p>
      </div>

      <!-- 장바구니에 상품이 있을 경우 -->
      <div th:unless="${orderBasket.size() == 0 }">
        <div class="cartBox">       
                      
          <form id="editUp" method="post" th:action="@{/order/order_form/add}"  class="orderForm">
            <div class="prodBox">        
              <div class="prodBox-title">장바구니 상품<button type="button" id="agree-content-btn"></button></div>

              <div class="prodBox-info active">
                <div class="normal">
                  <p>일반상품(<span class="count" th:text="${counts}"></span>)</p>
                </div>

                <ul>
                  <li class="listTable" th:each="order : ${orderBasket}">
                    <input type="checkbox" class="prodCheck" />

                    <input type="hidden" id="basketId" name="basketId" th:value="${order.basketId}" />
                    <input type="hidden" id="memberId" name="memberId" th:value="${order.memberId}" />
                    <input type="hidden" id="imgUrl" name="imgUrl" th:value="${order.imgUrl}" />
                    <input type="hidden" id="prodId" name="prodId" th:value="${order.prodId}" />
                    <input type="hidden" id="prodNameKor" name="prodNameKor" th:value="${order.prodNameKor}" />
                    <input type="hidden" id="orderPrice" name="orderPrice" th:value="${order.price * order.quantity}" />
                    
                    <!-- 상품 이미지 -->
                    <div class="thumbBox">
                      <a th:href="@{/product/detail/{prodId}(prodId=${order.prodId})}"><img th:src="${order.imgUrl}" alt="" /></a>
                    </div>
                    <!-- 상품 정보 -->
                    <div class="prodInfo">
                      <span class="info"><a th:href="@{/product/detail/{prodId}(prodId=${order.prodId})}" th:text="${order.prodNameKor}"></a></span>
                      <span class="info" th:text="|${order.capacity} ML|"></span>
                      <span class="info orderPrice" th:text="${#numbers.formatInteger((order.price * order.quantity) , 3, 'COMMA') + '원'}"></span>
                      <span class="red">-0</span>
                      <p class="small">배송:[<span>무료</span>]/<span>기본배송</span></p>
                      <p>[옵션:<span>선택안함</span>/<span>선택안함</span>]</p>
                      <!-- 상품 수량 -->
                      <div class="qtyBox">
                        <a href="" class="minus qtyEdit"><i class="fa-solid fa-minus"></i></a>
                        <input type="number" name="quantity" id="qty" class="qty" th:value="${order.quantity}" min="1" readonly />
                        <a href="" class="plus qtyEdit"><i class="fa-solid fa-plus"></i></a>
                        <button class="btnChange btn1 cursor" type="button">변경</button>
                      </div>
                    </div>
                    <div class="prodInfo2">
                      <div class="priceBox">
                        <span
                          id="itemPrice"
                          class="price itemPrice"
                          th:text="${#numbers.formatInteger((order.price * order.quantity) , 3, 'COMMA') + '원'}"
                        ></span>
                        <button class="cancel"></button>
                      </div>
                      <div class="btnBox">
                        <button class="btnGood btn1 cursor" type="button">관심상품</button>
                        <a id="btnBuy" class="btnBuy btn2"
                        th:data-prodId="${order.prodId}" th:data-quantity="${order.quantity}"
                        th:data-orderPrice="${(order.price * order.quantity)}" th:data-prodNameKor="${order.prodNameKor}"
                        th:data-imgUrl="${order.imgUrl}">
                        주문하기
                      </a>

                      
                      </div>
                    </div>
                  </li>
                </ul>

                <div class="shipmentInfo">
                  <span>[기본배송]</span>
                  <p>상품구매금액: <span id="totalPrice" class="price">OOO</span> + 배송비 <span class="price">O</span></p>
                  <p>합계: <span class="price" id="totalPrice">OOO</span></p>
                </div>
                <div class="prodBox-btnArea">
                  <input type="button" class="btn1 r cursor" id="checkAll" value="전체선택" />
                  <input type="button" class="btn1 cursor" id="checkDelete" value="선택삭제" />
                </div>
              </div>
            </div>
            <div class="orderInfo">
              <div class="orderInfo-box">
                <div class="prod box">
                  <strong>주문상품</strong>
                </div>
                <div class="priceBox">
                  <p class="box a"><span>총 상품금액</span><span id="totalPrice">OOO</span></p>
                  <p class="box"><span>총 배송비</span><span>O</span></p>
                </div>
                <div class="totalPrice box">
                  <p>결제예정금액<span id="totalPrice">OOO</span></p>
                </div>
              </div>
              <div class="orderInfo-btnArea">
                <button type="submit" class="btn2 cursor" id="allOrder">전체상품주문</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <footer th:replace="~{/fragments/common :: calm-footer}"></footer>

    <th:block th:replace="~{/fragments/script}"></th:block>
    <script th:src="@{/assets/js/basket.js}"></script>
    <script th:inline="javascript">
      const basketDeleteLink = /*[[@{/api/basket/delete}]]*/ "";
      const basketListDeleteLink = /*[[@{/api/basket/delete_list}]]*/ "";
      const basketList = /*[[@{/order/basket}]]*/ "";

      const orderAddItem = /*[[@{/order/order_form/item}]]*/ "";
    </script>
    <script>
      // ============== 결제 예정금액 표시 =========================
      const totalPrice = document.querySelectorAll("#totalPrice");

      let startSum = 0;
      const itemPrice = document.querySelectorAll("#itemPrice");

      itemPrice.forEach((v, i) => {
        const one = v.innerHTML.indexOf("원");
        const two = v.innerHTML.substring(0, one);

        const num = two.replaceAll(",", "");
        const trim = parseInt(num.trim());

        startSum += trim;
      });

      for (let i = 0; i < totalPrice.length; i++) {
        totalPrice[i].innerHTML = startSum.toLocaleString() + " 원";
      }

      // =================== 수량 변경시 DB연동 ==========================
      document.querySelectorAll(".qty").forEach((v, i) => {
        v.addEventListener("change", async (e) => {
          e.preventDefault();

          const formData = new FormData();
          const current = e.currentTarget.closest(".listTable");
          const basketId = current.querySelector("#basketId").value;
          const quantity = current.querySelector("#qty").value;
          const orderPrice = current.querySelector("#orderPrice");

          formData.append("basketIdTmp", basketId);
          formData.append("quantityTmp", quantity);

          const data = await axiosHelper.put(`[[@{/api/basket/edit}]]`, formData);
          console.log(data);
          if (data) {
            if (current.querySelector("#basketId").value == data.orderBasket.basketId) {
              current.querySelector(".orderPrice").innerHTML = (data.orderBasket.price * data.orderBasket.quantity).toLocaleString() + " 원";
              current.querySelector(".itemPrice").innerHTML = (data.orderBasket.price * data.orderBasket.quantity).toLocaleString() + " 원";
              orderPrice.value = data.orderBasket.price * data.orderBasket.quantity;
            }
          }

          let sum = 0;

          document.querySelectorAll(".itemPrice").forEach((v1, i1) => {
            const one = v1.innerHTML.indexOf("원");
            const two = v1.innerHTML.substring(0, one);

            const num = two.replaceAll(",", "");
            const trim = parseInt(num.trim());

            sum += trim;
          });

          for (let i = 0; i < totalPrice.length; i++) {
            totalPrice[i].innerHTML = sum.toLocaleString() + " 원";
          }
        });
      });
    </script>
  </body>
</html>
