<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head> 
    <th:block th:replace="~{fragments/head :: calm-head('회원가입')}"></th:block>
    <link rel="stylesheet" th:href="@{/assets/css/member.css}" />
</head>
<body>
    <header th:replace="~{/fragments/common :: calm-header}"></header>

    <div class="container">
        <div th:replace="~{/fragments/common :: calm-search}"></div>
        <div th:replace="~{/fragments/common :: calm-search-bg}"></div>
        <div th:replace="~{/fragments/common :: calm-top-btn}"></div>
        <div class="join-body">
            <div class="head-title">
                <p>JOIN US<span>캄모멘트리 회원가입</span></p>
            </div>
            <div class="join-form">
                <form id="join">
                    <div class="id-box input-box">
                        <input type="text" name="user_id" id="user_id" placeholder="아이디" minlength="4" maxlength="16"/>
                        <p class="input-info">(영문소문자/숫자, 4~16자)</p>
                        <p class="id-msg" ></p>
                    </div>

                    <div class="password-box input-box">
                        <input id="password" type="password" name="user_pw" placeholder="비밀번호" minlength="10" maxlength="16"/>
                        <p class="input-info">(영문 대소문자/숫자/특수문자 중 2가지 이상 조합, 10자~16자)</p>
                    </div>
                    <div id="password-focus" class="password-off">
                        <div class="password-content">
                            <strong>※ 비밀번호 입력 조건</strong>
                            <button type="button" id="password-content-close"></button>
                            <ul class="password-info">
                                <th:block th:fragment="password-info">
                                    - 대소문자/숫자/특수문자 중 2가지 이상 조합, 10자~16자
                                    <br>
                                        - 입력 가능 특수문자 
                                    <br>
                                        &nbsp;&nbsp;&nbsp;  ~ ` ! @ # $ % ^ ( ) * _ - = { } [ ] | ; : < > , . ? /
                                    <br>
                                        - 공백 입력 불가능
                                    <br>
                                        - 연속된 문자, 숫자 사용 불가능
                                    <br>
                                        - 동일한 문자, 숫자를 반복해서 사용 불가능
                                    <br>
                                        - 아이디 포함 불가능
                                </th:block>
                            </ul>
                        </div>
                    </div>

                    <div class="password-confirm-box input-box">
                        <input type="password" name="password_confirm" placeholder="비밀번호 확인" minlength="10" maxlength="16" />
                        <p class="password-confirm-msg">비밀번호가 일치하지 않습니다.</p>
                    </div>

                    <div class="tel-box input-box">
                        <select name="tel1" selected="010">
                            <th:block th:fragment="tel1-list">
                                <option value="010">010</option>
                                <option value="011">011</option>
                                <option value="016">016</option>
                                <option value="017">017</option>
                                <option value="018">018</option>
                                <option value="019">019</option>
                            </th:block>
                        </select>
                        -
                        <input type="text" name="tel2" maxlength="4" class="tel" />
                        -
                        <input type="text" name="tel3" maxlength="4" class="tel" />
                    </div>
                    
                    <div class="email-box input-box">
                        <input type="email" name="email" placeholder="이메일"/>
                        <p class="email-msg">유효한 이메일을 입력해 주세요.</p>
                    </div>

                    <div class="addr-box input-box">
                        <input type="text" name="postcode" id="postcode" placeholder="우편번호" />
                        <button type="button" id="post-btn">주소검색</button>
                    </div>
                    <div class="addr-box input-box">
                        <input type="text" name="addr1" id="addr1" placeholder="기본주소"/>
                    </div>
                    <div class="addr-box input-box">
                        <input type="text" name="addr2" id="addr2" placeholder="상세주소"/>
                    </div>

                    <br />
                    <div class="add-info-box input-box">
                        <label for="birthday">추가정보 (생년월일)</label>
                        <input type="date" name="birthday" />
                    </div>

                    <div class="agree-box input-box">
                        <div class="agree-all">
                            <input type="checkbox" id="agree-all-checked" data-checked=".check-all"/>
                            <label for="agreeAllChecked">전체약관 항목에 동의합니다.</label>
                            <label for="agreeAllChecked">전체약관 항목에 동의합니다.</label>
                        </div>
                        <div class="agree-inner">
                            <div class="item">
                                <div class="title">
                                    <input type="checkbox" name="agree_service_check" value="Y" required class="check-all" />
                                    <label for="agreeServiceCheck">이용약관 동의 (필수)</label>
                                    <button type="button" id="agree-content-btn"></button>
                                </div>
                                <div class="content service-on" th:insert="~{/member/mall_agreement :: agreement}">
                                    
                                </div>
                            </div>
                            <div class="item">
                                <div class="title">
                                    <input type="checkbox" name="agree_privacy_check" value="Y" required class="check-all" />
                                    <label for="agreePrivacyCheck">개인정보처리방침 동의 (필수)</label>
                                    <button type="button" id="agree-content-btn"></button>
                                </div>
                                <div class="content privacy-on" >
                                    
                                </div>
                            </div>
                            <div class="item">
                                <div class="title">
                                    <input type="checkbox" id="agreeAllMarketingChecked" data-checked=".marketing-check-all" value="Y" class="check-all" />
                                    <label for="agreeAllMarketingChecked">마케팅 정보 전체 동의 (선택)</label>
                                    <button type="button" id="agree-content-btn"></button>
                                </div>
                                <div class="content marketing-on">
                                    <p>캄모멘트리의 특가, 할인, 쿠폰, 혜택, 이벤트</p>
                                </div>
                                <input type="checkbox" name="is_sms_agree" value="Y" class="check-all marketing-check-all" />
                                <label for="agreeSmsReceive">SMS 수신 동의 (선택)</label>

                                <input type="checkbox" name="is_email_agree" value="Y" class="check-all marketing-check-all" />
                                <label for="agreeEmailReceive">이메일 수신 동의 (선택)</label>
                            </div>
                        </div>
                    </div>

                    <button type="submit" class="join-btn">회원가입하기</button>
                </form>
            </div>
        </div>
    </div>
    
    <footer th:replace="~{/fragments/common :: calm-footer}"></footer>

    <th:block th:replace="~{/fragments/script}"></th:block>
    <script th:src="@{/assets/js/join.js}"></script>
</body>
</html>