<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{/fragments/head :: calm-head('로그인')}"></th:block>
    <link rel="stylesheet" th:href="@{/assets/css/login.css}" />
</head>
<body>
    <header th:replace="~{/fragments/common :: calm-header}"></header>

    <div class="container">
        <div th:replace="~{/fragments/common :: calm-search}"></div>
        <div th:replace="~{/fragments/common :: calm-search-bg}"></div>
        <div th:replace="~{/fragments/common :: calm-top-btn}"></div>
        <div class="login-box">
            <div class="login left">
                <div class="login-title">
                    <h3>Sign in</h3>
                </div>
                <div class="login-form">
                    <form id="login">
                        <input type="text" name="user_id" id="user_id" placeholder="아이디" th:value="${rememberId}"/>
                        <input type="password" name="user_pw" id="user_pw" placeholder="비밀번호" />
                        <div class="login-option">
                            <label for="remember_id">
                            <input type="checkbox" value="Y" name="remember_id" th:checked="${rememberId != null}"/>
                            아이디 저장</label>
                            <ul>
                                <li><a th:href="@{/member/id/find_id}">아이디 찾기</a></li>
                                <li><a th:href="@{/member/password/reset_pw}">비밀번호 찾기</a></li>
                            </ul>
                        </div>
                        <button type="submit">로그인</button>
                    </form>
                </div>
                <div class="sns-login">
                    <p>간편 로그인</p>
                    <div>
                        <a>kakao</a>
                        <a>naver</a>
                    </div>
                </div>
            </div>
            
            <div class="join right">
                <div class="join-title">
                    <h3>Join us</h3>
                </div>
                <div class="join-txt">
                    <p>
                        캄모멘트리 회원만의
                        <br />
                        더 다양한 혜택을 만나세요.
                    </p>
                </div>
                <div class="sns-join">
                    <a class="kakao">카카오 간편가입</a>
                    <a class="naver">네이버 간편가입</a>
                </div>
                <div class="join-btn">
                    <a th:href="@{/member/join}">회원가입</a>
                </div>
                <div class="membership-info">
                    <a>캄모멘트리 멤버쉽 혜택 자세히 보기</a>
                </div>
            </div>
        </div>
    </div>

    <footer th:replace="~{/fragments/common :: calm-footer}"></footer>

    <th:block th:replace="~{/fragments/script}"></th:block>
    <script>
        document.querySelector("#login").addEventListener("submit", async (e) => {
            e.preventDefault();
            
            try {
                regexHelper.value("#user_id", "아이디를 입력해주세요.");
                regexHelper.value("#user_pw", "비밀번호를 입력해주세요.");
            } catch (error) {
                alert(error.message);
                return false;
            }

            const data = await axiosHelper.post("[[@{/api/member/login}]]", new FormData(e.currentTarget));

            if (data) {
                if (data.error) {
                    await utilHelper.alertDanger(data.message);
                    return;
                }

                window.location = "[[@{/}]]";
            }
        });
    </script>
</body>
</html>