<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
    <th:block th:replace="~{fragments/head :: calm-head('게시글관리')}"></th:block>
    <link rel="stylesheet" th:href="@{/assets/css/myshop.css}" />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" />
  </head>
  <body>
    <div th:replace="~{fragments/common :: calm-required-login}"></div>
    
    <!-- 헤더 영역 -->
    <header id="header">
      <header th:replace="~{/fragments/common :: calm-header}"></header>
    </header>
    <div class="container-box">
      <div th:replace="~{/fragments/common :: calm-search}"></div>
      <div th:replace="~{/fragments/common :: calm-search-bg}"></div>
      <div th:replace="~{/fragments/common :: calm-top-btn}"></div>

      <!-- 사이드바 구역 -->
      <div class="side-bar">
        <div class="board-box">
          <ul class="board-inner">
            <li><a th:href="@{/myshop}">마이페이지</a></li>
            <li><a th:href="@{/myshop/order/list}">주문/배송조회</a></li>
            <li><a style="text-decoration: line-through">쿠폰/적립금</a></li>
            <li><a th:href="@{/myshop/board_list}">게시글관리</a></li>
            <li><a th:href="@{/member/modify}">회원정보수정</a></li>
          </ul>
        </div>
      </div>
      <!-- 메인 영역 -->
      <div class="container">
        <div class="myshop-area">
          <div class="myshop-title board-select">
            <p class="title">Board</p>
            <form method="get" id="myForm" th:action="@{/myshop/board_list}">
              <select name="boardSort" id="board-sort" onchange="this.form.submit()" >
                <option th:selected="${boardSort} == 'date'" value="date">작성 일자별</option>
                <option th:selected="${boardSort} == 'cate'" value="cate">분류별</option>
              </select>
            </form>
          </div>

          <div class="order-history-box">
            <div class="order-list board-list">
              <div class="noneData" th:if="${boards.size() == 0}">
                <p>검색결과가 없습니다.</p>
              </div>

              <div th:unless="${boards.size() == 0}">
                <!-- 게시글 1개 -->
                <div class="order board" th:each="board : ${boards}">
                  <div class="board-num">
                    <span th:text="${board.rownum}">15</span>
                  </div>
                  <div class="board-name">
                    <a th:href="@{/board/qna/read/{boardId}(boardId=${board.boardId})}">
                      <span th:if="${board.isPublic == 'N'}"><i class="fa-solid fa-lock"></i></span>
                      <span th:text="${board.boardTitle}">문의드립니다.</span>
                    </a>
                  </div>
                  <div class="board-place" title="분류">
                    <span th:text="${board.boardCategory}">QNA</span>
                  </div>
                  <div class="board-date">
                    <span th:text="${board.writeDate}">24-11-04</span>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- 페이지 번호 -->
          <div class="paging-box">
            <!-- 페이지 번호 -->
            <ul class="pagination">
              <!-- 이전 페이지 그룹 이동 버튼 -->
              <li th:if="${pagination.prevPage > 0}">
                <a th:href="@{/myshop/board_list(page=${pagination.prevPage})}">&laquo;</a>
              </li>
              <li th:unless="${pagination.prevPage > 0}"><a>&laquo;</a></li>

              <!-- 페이지 번호 링크 -->
              <li th:each="i : ${#numbers.sequence(pagination.startPage, pagination.endPage)}">
                <a th:if="${i == pagination.nowPage}" class="active" th:text="${i}"></a>
                <a th:unless="${i == pagination.nowPage}" th:text="${i}" th:href="@{/myshop/board_list(page=${i})}"></a>
              </li>

              <!-- 다음 페이지 그룹 이동 버튼 -->
              <li th:if="${pagination.nextPage > 0}">
                <a th:href="@{/myshop/board_list(page=${pagination.nextPage})}">&raquo;</a>
              </li>
              <li th:unless="${pagination.nextPage > 0}"><a>&raquo;</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <footer th:replace="~{/fragments/common :: calm-footer}"></footer>

    <th:block th:replace="~{/fragments/script}"></th:block>
  </body>
</html>
