<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calmomentree</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700;900&amp;display=swap" />
    <link rel="stylesheet" href="/src/main/resources/static/assets/css/reset.css" />
    <link rel="stylesheet" href="/src/main/resources/static/assets/css/common.css" />
    <link rel="stylesheet" href="/src/main/resources/static/assets/css/myshop_index.css" />
</head>
<body>
    
    <div class="header">

    </div>

    <div class="container">
        <div class="nav">
            <p>사이드바</p>
        </div>

        <div class="inner-body">
            <div class="title">
                <h2>My Page</h2>
            </div>

            <div class="main">
                <div class="main-left">
                    <div class="name">
                        <span class="txtname" text="xxx">111<span>고객님 안녕하세요</span></span>
                        <button type="button" action="">로그아웃</button>
                    </div>
                    <div class="membership">
                        <h3>등급 : <span>REST</span></h3>
                        <a>등급별 회원혜택 확인하기</a>
                    </div>
                </div>
                <div class="main-right">
                    <h4>주문내역</h4>
                    <div class="order">                  
                        <div>
                            <span>입금전</span>
                            <span>0</span>
                        </div>
                        <div>
                            <span>배송준비중</span>
                            <span>0</span>
                        </div>
                        <div>
                            <span>배송중</span>
                            <span>0</span>
                        </div>
                        <div>
                            <span>베송완료</span>
                            <span>0</span>
                        </div>
                    </div>
                    <h4>교환/반품/취소 내역</h4>
                    <div class="order-cancel">
                        <div>
                            <span>취소</span>
                            <span>0</span>
                        </div>
                        <div>
                            <span>교환</span>
                            <span>0</span>
                        </div>
                        <div>
                            <span>반품</span>
                            <span>0</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer">

    </div>

    <script>

    </script>
</body>
</html>