<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head> 
    <th:block th:replace="~{fragments/head :: calm-head('마이페이지')}"></th:block>
    <link rel="stylesheet" th:href="@{/assets/css/myshop_index.css}" />
</head>
<body>
    <div th:replace="~{fragments/common :: calm-required-login}"></div>

    <header th:replace="~{/fragments/common :: calm-header}"></header>

    <div class="container">
        <div th:replace="~{/fragments/common :: calm-search}"></div>
        <div th:replace="~{/fragments/common :: calm-search-bg}"></div>
        <div th:replace="~{/fragments/common :: calm-top-btn}"></div>
        <div class="nav">
            <ul class="nav-inner">
                <li><a th:href="@{/myshop}">마이페이지</a></li>
                <li><a th:href="@{/myshop/order/list}">주문/배송조회</a></li>
                <li><a href="" style="text-decoration: line-through;">쿠폰/적립금</a></li>
                <li><a th:href=@{/myshop/board_list}>게시글관리</a></li>
                <li><a th:href="@{/member/modify}">회원정보수정</a></li>
              </ul>
        </div>

        <div class="inner-body" th:if="${session.memberInfo != null}">
            <div class="title">
                <h2>My Page</h2>
            </div>

            <div class="main">
                <div class="main-left">
                    <div class="name">
                        <p class="txtname" th:text="${session.memberInfo.userName} + ' 고객님 안녕하세요'"></p>
                        <a class="logout-btn" th:href="@{/member/logout}">로그아웃</a>
                    </div>
                    <div class="membership">
                        <h3>등급 : <span>REST</span></h3>
                        <a>등급별 회원혜택 확인하기</a>
                    </div>
                </div>
                <div class="main-right">
                    <h4>주문내역</h4>
                    <div class="order">                  
                        <div>
                            <span>입금전</span>
                            <span>0</span>
                        </div>
                        <div>
                            <span>배송준비중</span>
                            <span>0</span>
                        </div>
                        <div>
                            <span>배송중</span>
                            <span>0</span>
                        </div>
                        <div>
                            <span>베송완료</span>
                            <span>0</span>
                        </div>
                    </div>
                    <h4>교환/반품/취소 내역</h4>
                    <div class="order-cancel">
                        <div>
                            <span>취소</span>
                            <span>0</span>
                        </div>
                        <div>
                            <span>교환</span>
                            <span>0</span>
                        </div>
                        <div>
                            <span>반품</span>
                            <span>0</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer th:replace="~{/fragments/common :: calm-footer}"></footer>

    <th:block th:replace="~{/fragments/script}"></th:block>
</body>
</html>