<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
    <th:block th:replace="~{/fragments/head :: calm-head('FAQ')}"></th:block>
    <link rel="stylesheet" th:href="@{/assets/css/board.css}" />
  </head>
  <body>
    <header id="header">
      <header th:replace="~{/fragments/common :: calm-header}"></header>
    </header>

    <div id="container">
      <div th:replace="~{/fragments/common :: calm-search}"></div>
      <div th:replace="~{/fragments/common :: calm-search-bg}"></div>
      <div th:replace="~{/fragments/common :: calm-top-btn}"></div>
      
      <div class="board-box left">
        <ul class="board-inner">
          <li><a href="">공지사항</a></li>
          <li><a href="">공병수거신청</a></li>
          <li><a href="">달력쿠폰</a></li>
          <li><a href="">문의하기</a></li>
          <li><a href="">FAQ</a></li>
          <li><a href="">제품리뷰</a></li>
        </ul>
      </div>
      <div class="inner-box">
        <div class="title-wr">FAQ</div>
        <div class="board-list">
          <table border="1">
            <caption>
              FAQ 목록
            </caption>
            <colgroup>
              <col width="80px" />
              <col width="auto" />
              <col width="15%" />
              <col width="80px" />
            </colgroup>
            <!-- <thead>
              <tr>
                <th>번호</th>
                <th>제목</th>
                <th>작성자</th>
                <th>작성일</th>
              </tr>
            </thead> -->
            <tbody>
              <tr>
                <td>11</td>
                <td>달력 쿠폰 포인트 적립</td>
                <td>calmomentree</td>
                <td>2023-01-05</td>
              </tr>
              <tr>
                <td>10</td>
                <td>펌프가 안돼요.</td>
                <td>calmomentree</td>
                <td>2022-07-27</td>
              </tr>
              <tr>
                <td>9</td>
                <td>행사 정보를 빠르게 받고싶어요.</td>
                <td>calmomentree</td>
                <td>2022-07-27</td>
              </tr>
              <tr>
                <td>8</td>
                <td>오프라인에서 구매할 수 있나요?</td>
                <td>calmomentree</td>
                <td>2022-07-27</td>
              </tr>
              <tr>
                <td>7</td>
                <td>주문했는데 취소하고 싶어요.</td>
                <td>calmomentree</td>
                <td>2022-07-27</td>
              </tr>
            </tbody>
          </table>
        </div>

        <!-- 페이지 번호 -->
        <div class="paging-box">
          <ul class="pagination">
            <li><a class="left">&laquo;</a></li>
            <li><a class="active">1</a></li>
            <li><a>2</a></li>
            <li><a class="right">&raquo;</a></li>
          </ul>
        </div>

        <div class="search-container">
          <div class="search-box">
            <div class="form">
              <input type="text" placeholder="내용을 입력하세요" />
              <a href="">검색</a>
            </div>
          </div>
        </div>
      </div>
      <div class="board-box right"></div>
    </div>

    <footer th:replace="~{/fragments/common :: calm-footer}"></footer>

    <th:block th:replace="~{/fragments/script}"></th:block>
  </body>
</html>
