<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
    <th:block th:replace="~{fragments/head :: calm-head('QNA 목록')}"></th:block>
    <link rel="stylesheet" th:href="@{/assets/css/board.css}" />
  </head>
  <body>
    <header id="header">
      <header th:replace="~{/fragments/common :: calm-header}"></header>
    </header>
    <div id="container">
      <div th:replace="~{/fragments/common :: calm-top-btn}"></div>
      <div th:replace="~{/fragments/common :: calm-search}"></div>
      <div th:replace="~{/fragments/common :: calm-search-bg}"></div>

      <div th:replace="~{fragments/boardBox :: board}"></div>

      <div class="inner-box">
        <div class="title-wr">QNA</div>
        <div class="board-list">
          
          <div class="noneData" th:if="${boards.size() == 0}">
            <p>검색결과가 없습니다.</p>
          </div>
          
          <div th:unless="${boards.size() == 0}">
            <table border="1">
              <caption>
                상품 게시판 목록
              </caption>
              <colgroup>
                <col width="80px" />
                <col width="auto" />
                <col width="15%" />
                <col width="80px" />
              </colgroup>
            
              <tbody>
                <tr th:each="board : ${boards}">
                  <td th:text="${board.rownum}"></td>
                  <td><a th:text="${board.boardTitle}" 
                         th:href="@{/board/{boardCategory}/read/{boardId}(boardCategory=${board.boardCategory},boardId=${board.boardId})}"></a></td>
                  <td th:text="${board.userName}"></td>
                  <td th:text="${board.writeDate}"></td>
                </tr>
              </tbody>
            </table>
          </div>
          
        </div>
        <div class="btn-area right">
          <a class="write-btn" th:href="@{/board/qna/write}">글쓰기</a>
        </div>

        <!-- 페이지 번호 -->
        <ul class="pagination paging-box">
          <!-- 이전 페이지 그룹 이동 버튼 -->
          <li th:if="${pagination.prevPage > 0}">
            <a th:href="@{/board/qna/list(keyword=${keyword}, page=${pagination.prevPage})}">&laquo;</a>
          </li>
          <li th:unless="${pagination.prevPage > 0}"><a>&laquo;</a></li>

          <!-- 페이지 번호 링크 -->
          <li th:each="i : ${#numbers.sequence(pagination.startPage, pagination.endPage)}">
            <a th:if="${i == pagination.nowPage}" class="active" th:text="${i}"></a>
            <a th:unless="${i == pagination.nowPage}" th:text="${i}" th:href="@{/board/qna/list(keyword=${keyword}, page=${i})}"></a>
          </li>

          <!-- 다음 페이지 그룹 이동 버튼 -->
          <li th:if="${pagination.nextPage > 0}">
            <a th:href="@{/board/qna/list(keyword=${keyword}, page=${pagination.nextPage})}">&raquo;</a>
          </li>
          <li th:unless="${pagination.nextPage > 0}"><a>&raquo;</a></li>
        </ul>

        <div class="search-container">
          <div class="search-box">
            <!-- 검색폼 -->
            <form method="get" th:action="@{/board/qna/list}">
              <div class="form">
                <input type="search" name="keyword" placeholder="내용을 입력하세요" th:value="${keyword}" />
                <button type="submit">검색</button>
              </div>
            </form>
            
          </div>
        </div>
      </div>
      <div class="board-box right"></div>
    </div>
    <footer th:replace="~{/fragments/common :: calm-footer}"></footer>

    <th:block th:replace="~{/fragments/script}"></th:block>

  </body>
</html>
