<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
    <th:block th:replace="~{fragments/head :: calm-head('QNA 목록')}"></th:block>
    <link rel="stylesheet" th:href="@{/assets/css/board.css}" />
  </head>
  <body>
    <header id="header">
      <header th:replace="~{/fragments/common :: calm-header}"></header>
    </header>
    <div id="container">
      <div th:replace="~{/fragments/common :: calm-top-btn}"></div>
      <div th:replace="~{/fragments/common :: calm-search}"></div>
      <div th:replace="~{/fragments/common :: calm-search-bg}"></div>

      <div class="board-box left">
        <ul class="board-inner">
          <li><a href="">공지사항</a></li>
          <li><a href="">공병수거신청</a></li>
          <li><a href="">달력쿠폰</a></li>
          <li><a href="">문의하기</a></li>
          <li><a href="">FAQ</a></li>
          <li><a href="">제품리뷰</a></li>
        </ul>
      </div>
      <div class="inner-box">
        <div class="title-wr">QNA</div>
        <div class="board-list">
          <table border="1">
            <caption>
              상품 게시판 목록
            </caption>
            <colgroup>
              <col width="80px" />
              <col width="auto" />
              <col width="15%" />
              <col width="80px" />
            </colgroup>
            <!-- <thead>
              <tr>
                <th>번호</th>
                <th>제목</th>
                <th>작성자</th>
                <th>작성일</th>
              </tr>
            </thead> -->
            <tbody>
              <tr th:each="boardQna : ${boardQnas}">
                <td></td>
                <td th:text="${boardQna.boardTitle}"></td>
                <td th:text="${boardQna.userName}"></td>
                <td th:text="${boardQna.writeDate}"></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="btn-area right">
          <button class="write-btn">글쓰기</button>
        </div>

        <!-- 페이지 번호 -->
        <ul class="pagination">
          <!-- 이전 페이지 그룹 이동 버튼 -->
          <li th:if="${pagination.prevPage > 0}">
            <a th:href="@{/department(keyword=${keyword}, page=${pagination.prevPage})}">&laquo;</a>
          </li>
          <li th:unless="${pagination.prevPage > 0}"><a>&laquo;</a></li>

          <!-- 페이지 번호 링크 -->
          <li th:each="i : ${#numbers.sequence(pagination.startPage, pagination.endPage)}">
            <a th:if="${i == pagination.nowPage}" class="active" th:text="${i}"></a>
            <a th:unless="${i == pagination.nowPage}" th:text="${i}" th:href="@{/department(keyword=${keyword}, page=${i})}"></a>
          </li>

          <!-- 다음 페이지 그룹 이동 버튼 -->
          <li th:if="${pagination.nextPage > 0}">
            <a th:href="@{/department(keyword=${keyword}, page=${pagination.nextPage})}">&raquo;</a>
          </li>
          <li th:unless="${pagination.nextPage > 0}"><a>&raquo;</a></li>
        </ul>

        <div class="search-container">
          <div class="search-box">
            <form method="get" th:action="@{/board/qna/list}">
              <div class="form">
                <input type="search" name="keyword" placeholder="내용을 입력하세요" th:value="${keyword}" />
                <button type="submit">검색</button>
              </div>
            </form>
            
          </div>
        </div>
      </div>
      <div class="board-box right"></div>
    </div>
    <footer th:replace="~{/fragments/common :: calm-footer}"></footer>

    <th:block th:replace="~{/fragments/script}"></th:block>
  </body>
</html>
