<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Calmomentree</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700;900&amp;display=swap" />
    <link rel="stylesheet" href="/src/main/resources/static/assets/css/reset.css" />
    <link rel="stylesheet" href="/src/main/resources/static/assets/css/board.css" />
  </head>
  <body>
    <header id="header">
      <div class="head">헤더영역</div>
    </header>
    <div id="container">
      <!-- 왼쪽 사이드바 영역 -->
      <div class="board-box left">
        <ul class="board-inner">
          <li><a href="">공지사항</a></li>
          <li><a href="">공병수거신청</a></li>
          <li><a href="">달력쿠폰</a></li>
          <li><a href="">문의하기</a></li>
          <li><a href="">FAQ</a></li>
          <li><a href="">제품리뷰</a></li>
        </ul>
      </div>
      <!-- 내용 영역 -->
      <div class="inner-box">
        <div class="title-wr">QNA</div>
        <div class="board-list">
          <table border="1">
            <caption>
              게시판 상세
            </caption>
            <!-- <colgroup>
                <col width="80px" />
                <col width="auto" />
                <col width="15%" />
                <col width="80px" />
              </colgroup> -->
            <!-- <thead>
                <tr>
                  <th>번호</th>
                  <th>제목</th>
                  <th>작성자</th>
                  <th>작성일</th>
                </tr>
              </thead> -->
            <tbody>
              <tr class="detail-box-title">
                <td>문의드립니다</td>
                <td>정****</td>
                <td>2024-10-13</td>
              </tr>
              <tr class="detail-box-content">
                <td>
                  <div class="detail-box">
                    1. 무료배송 쿠폰 넣어주신다고 하셨는데 아직인가요....??
                    멤버십 가입한지도 꽤 되었고 가입혜택인 것을 제가 직접
                    문의드리는것도 번거로운데 문의드린지도 꽤 되었는데 응대도
                    없으시고 적립금도 다 써갑니다만 고객응대가 매우 아쉽네요. 2.
                    트라이얼키트는 마지막 적립금 소진시 제 주소로
                    보내주시는건가요? 3. 회원 연간 기프트는 누락안되고
                    보내주시나요? 무료배송쿠폰도 조차도 누락되었고 회원혜택을
                    받은게 아직 없기때문에 제가 챙기지 않아도 제대로 오는지
                    찜찜해서 문의드립니다.
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="btn-area">
          <button>목록</button>
        </div>
      </div>
      <div class="board-box right"></div>
    </div>
  </body>
</html>
