<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
    <th:block th:replace="~{fragments/head :: calm-head('QNA 상세')}"></th:block>
    <link rel="stylesheet" th:href="@{/assets/css/board.css}" />
  </head>
  <body>
    <header id="header">
      <header th:replace="~{/fragments/common :: calm-header}"></header>
    </header>
    <div id="container">
      <div th:replace="~{/fragments/common :: calm-search}"></div>
      <div th:replace="~{/fragments/common :: calm-search-bg}"></div>
      <div th:replace="~{/fragments/common :: calm-top-btn}"></div>

      <!-- 왼쪽 사이드바 board 영역 -->
      <div th:replace="~{fragments/boardBox :: board}"></div>

      <!-- 내용 영역 -->
      <div class="inner-box">
        <div class="title-wr">QNA</div>
        <div class="board-list">
          <table border="1">
            <caption>
              게시판 상세
            </caption>

            <tbody>
              <tr class="detail-box-title">
                <td th:text="${board.boardTitle}"></td>
                <td th:text="${board.userName}"></td>
                <td th:text="${board.writeDate}"></td>
              </tr>
              <tr class="detail-box-content">
                <td>
                  <img th:src="${board.uploadImg}" class="uploadImg" th:unless="${board.uploadImg == null or board.uploadImg == ''}" alt="" />
                  <div class="detail-box" th:text="${board.boardContent}"></div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <!-- 첨부파일 이미지 이름 표시 -->
        <div th:if="${board.uploadImg}" class="imgBox">
          <span class="input">첨부파일</span>
          <span class="imgFakeName" th:text="${board.uploadImg}" style="display: none"></span>
          <div class="innerImgBox">
            <span class="imgName"></span>
          </div>
        </div>
        <!-- 본인이 작성한 글이면 생김 th:if="${}" -->
        <form method="post" id="cancel">
          <div class="passwordArea" th:if="${session.memberInfo != null and board.memberId == session.memberInfo.memberId}">
            <input type="password" placeholder="비밀번호" class="password" />
            <p>수정 및 삭제하려면 비밀번호를 입력하세요.</p>
          </div>

          <div class="btn-area">
            <a class="button" th:href="@{/board/qna/list}">목록</a>

            <!-- 본인이 작성한 글이면 생김 th:if="${}" -->
            <div class="inner-button-area" th:if="${session.memberInfo != null and board.memberId == session.memberInfo.memberId}">
              <a th:href="@{/board/qna/modify/{boardId}(boardId=${board.boardId})}" class="edit">수정</a>
              <button type="sumbit" class="cancel">삭제</button>
            </div>
          </div>
        </form>
      </div>
      <div class="board-box right"></div>
    </div>
    <footer th:replace="~{/fragments/common :: calm-footer}"></footer>

    <th:block th:replace="~{/fragments/script}"></th:block>

    <script th:inline="javascript">
      const boardDeleteLink = /*[[@{/api/board/delete/{boardId}(boardId=${board.boardId})}]]*/ "";
      const qnaListPageLink = /*[[@{/board/qna/list}]]*/ "";
    </script>
    <script type="text/javascript" th:src="@{/assets/js/board.js}"></script>
    <script>
      // 첨부파일 이미지 이름 출력하기(추후 보완 필요...)
      if (document.querySelector(".imgFakeName") != null) {
        const imgFakeName = document.querySelector(".imgFakeName").innerText;
        const imgRealName = imgFakeName.substring(imgFakeName.lastIndexOf("/") + 1);
        const imgName = document.querySelector(".imgName");
        imgName.innerHTML = imgRealName;

        imgName.addEventListener("click", (e) => {
          alert("다운로드 ... ");
        });
      }
    </script>
  </body>
</html>
