<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
    <th:block th:replace="~{fragments/head :: calm-head('QNA 상세')}"></th:block>
    <link rel="stylesheet" th:href="@{/assets/css/board.css}" />
  </head>
  <body>
    <header id="header">
      <header th:replace="~{/fragments/common :: calm-header}"></header>
    </header>
    <div id="container">
      <div th:replace="~{/fragments/common :: calm-search}"></div>
      <div th:replace="~{/fragments/common :: calm-search-bg}"></div>
      <div th:replace="~{/fragments/common :: calm-top-btn}"></div>

      <!-- 왼쪽 사이드바 board 영역 -->
      <div th:replace="~{fragments/boardBox :: board}"></div>
      
      <!-- 내용 영역 -->
      <div class="inner-box">
        <div class="title-wr">QNA</div>
        <div class="board-list">
          <table border="1">
            <caption>
              게시판 상세
            </caption>
            <!-- <colgroup>
                <col width="80px" />
                <col width="auto" />
                <col width="15%" />
                <col width="80px" />
              </colgroup> -->
            <!-- <thead>
                <tr>
                  <th>번호</th>
                  <th>제목</th>
                  <th>작성자</th>
                  <th>작성일</th>
                </tr>
              </thead> -->
            <tbody>
              <tr class="detail-box-title">
                <td th:text="${boardQna.boardTitle}"></td>
                <td th:text="${boardQna.userName}"></td>
                <td th:text="${boardQna.writeDate}"></td>
              </tr>
              <tr class="detail-box-content">
                <td>
                  <div class="detail-box" th:text="${boardQna.boardContent}"></div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <!-- 본인이 작성한 글이면 생김 th:if="${}" -->
        <form method="post" id="cancel" >
          <div class="passwordArea">
            <input type="password" placeholder="비밀번호" class="password" />
            <p>수정 및 삭제하려면 비밀번호를 입력하세요.</p>
          </div>

          <div class="btn-area">
            <a class="button" th:href="@{/board/qna/list}">목록</a>

            <!-- 본인이 작성한 글이면 생김 th:if="${}" -->
            <div class="inner-button-area">
              <a href="" class="edit">수정</a>
              <button type="sumbit" class="cancel">삭제</button>
            </div>
          </div>
        </form>
      </div>
      <div class="board-box right"></div>
    </div>
    <footer th:replace="~{/fragments/common :: calm-footer}"></footer>

    <th:block th:replace="~{/fragments/script}"></th:block>
    <script>
      document.querySelector("#cancel").addEventListener("submit", async e => {
        e.preventDefault();

        const current = e.currentTarget;
        const passwordValue = document.querySelector(".password").value;
        const deleteQna = current.action;
        console.log(deleteQna);

         if (confirm('정말로 삭제 하시겠습니까?')) {
           const data = await axiosHelper.delete("[[@{/api/board/qna/delete/{boardId}(boardId=${boardQna.boardId})}]]");
           
           if(data) {
            alert("삭제되었습니다.");
            window.location = "[[@{/board/qna/list}]]";
           }
        } 
      });
    </script>
  </body>
</html>
