<th:block th:fragment="board">
    <div class="board-box left">
        <ul class="board-inner">
          <li><a style="text-decoration: line-through;">공지사항</a></li>
          <li><a style="text-decoration: line-through;">공병수거신청</a></li>
          <li><a style="text-decoration: line-through;">달력쿠폰</a></li>
          <li><a th:href="@{/board/qna/list}">문의하기</a></li>
          <li><a style="text-decoration: line-through;">FAQ</a></li>
          <li><a th:href="@{/board/product/list}">제품리뷰</a></li>
        </ul>
    </div>
</th:block>

