<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calmomentree</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700;900&amp;display=swap" />
    <link rel="stylesheet" href="/src/main/resources/static/assets/css/reset.css" />
    <link rel="stylesheet" href="/src/main/resources/static/assets/css/common.css" />
</head>
<body>
    <th:block th:fragment="calm-required-login">
        <script th:if="${session.memberInfo == null}">       
            alert("로그인 후 이용해주세요");
            window.location = "[[@{/member/login}]]";
        </script>
    </th:block>

    <header th:fragment="calm-header">
        <div class="banner">
            <div class="top">
                <a href="#">신규회원 2,000원 적립금 | 홈 어메니티 멤버십 40%-50% 할인혜택</a>
            </div>
            <div class="bottom">
                <a href="#">홀리데이 페스타 ~25%</a>
            </div>
        </div>
        <div class="menu">
            <div class="menu-inner">
                <div class="menu-title">
                    <a th:href="@{/}">
                        <img th:src="@{/files/common/header_logo.svg}" />
                    </a>
                </div>
                <div class="menu-category">
                    <div class="category-inner">
                        <ul class="category-list">
                            <li class="category-item"><a th:href="@{/product/list/1}">ALL</a></li>
                            <li class="category-item"><a style="text-decoration: line-through;" th:href="@{/product/list/2}">Best</a></li>
                            <li class="category-item"><a style="text-decoration: line-through;">Promotion</a></li>

                            <li class="category-item"><a th:href="@{/product/list/3}">Hair</a>
                                <ul class="sub-category">
                                    <li><a th:href="@{/product/list/8}">샴푸</a></li>
                                    <li><a th:href="@{/product/list/9}">트리트먼트</a></li>
                                    <li><a th:href="@{/product/list/10}">스타일링</a></li>
                                </ul>
                            </li>

                            <li class="category-item"><a th:href="@{/product/list/4}">Body</a>
                                <ul class="sub-category">
                                    <li><a th:href="@{/product/list/11}">워시</a></li>
                                    <li><a th:href="@{/product/list/12}">바디크림</a></li>
                                    <li><a th:href="@{/product/list/13}">핸드</a></li>
                                </ul>
                            </li>

                            <li class="category-item"><a th:href="@{/product/list/5}">Facial</a>
                                <ul class="sub-category">
                                    <li><a th:href="@{/product/list/14}">토너/에센스</a></li>
                                    <li><a th:href="@{/product/list/15}">크림</a></li>
                                </ul>
                            </li>

                            <li class="category-item"><a th:href="@{/product/list/7}">Gift</a>
                                <ul class="sub-category">
                                    <li><a th:href="@{/product/list/19}">헤어</a></li>
                                    <li><a th:href="@{/product/list/20}">바디</a></li>
                                    <li><a th:href="@{/product/list/21}">워시</a></li>
                                    <li><a th:href="@{/product/list/22}">페이셜</a></li>
                                    <li><a th:href="@{/product/list/23}">베이비</a></li>
                                    <li><a th:href="@{/product/list/24}">쇼핑백</a></li>
                                </ul>
                            </li>

                            <li class="category-item"><a th:href="@{/product/list/6}">Baby & Life</a>
                                <ul class="sub-category">
                                    <li><a th:href="@{/product/list/16}">베이비</a></li>
                                    <li><a th:href="@{/product/list/17}">덴탈</a></li>
                                    <li><a th:href="@{/product/list/18}">리빙</a></li>
                                </ul>
                            </li>

                            <li class="category-item"><a style="text-decoration: line-through;">Membership</a></li>
                            <li class="category-item"><a style="text-decoration: line-through;">About</a>
                                <ul class="sub-category">
                                    <li><a>브랜드스토리</a></li>
                                    <li><a>ESG 캠페인</a></li>
                                    <li><a>지속 가능한 실천</a></li>
                                    <li><a>공병수거신청</a></li>
                                    <li><a>CO-프로모션</a></li>
                                    <li><a>PARTNERS</a></li>
                                </ul>
                            </li>
                        </ul>
                        <div class="sub-category-box">
                            <img th:src="@{/files/common/sub_menu_img.jpg}" />
                        </div>
                    </div>
                </div>

                <div class="other-menu">
                    <div class="login other-menu-list" th:if="${session.memberInfo == null}">
                        <a th:href="@{/member/login}">로그인</a>
                        <a th:href="@{/board/qna/list}">고객문의</a>
                        <a class="b2b-btn">B2B 문의</a>
                        <a>
                            <button class="search-btn" id="search-on" type="button"><img th:src="@{/files/common/search.svg}" /></button>
                        </a>
                    </div>

                    <div class="logout other-menu-list" th:unless="${session.memberInfo == null}">
                        <a class="logout-btn" th:href="@{/member/logout}">로그아웃</a>
                        <a th:href="@{/order/basket}">카트              
                           <span class="cart" id="basket-count"></span>

                           <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
                           <script th:src="@{/assets/js/helpers/AxiosHelper.js}"></script>
                           <script>
                                window.onload = (async () => {
                                    const data = await axiosHelper.get("[[@{/api/basket/count}]]", {
                                        memberId: "[[${session.memberInfo.memberId}]]"
                                    });

                                    document.querySelector("#basket-count").innerHTML = "(" + data.basketCount + ")";
                                })();
                            </script>

                        </a>
                        <a th:href="@{/board/qna/list}">커뮤니티</a>
                        <a th:href="@{/myshop}">마이페이지</a>
                        <a class="b2b-btn">B2B 문의</a>
                        <a>
                            <button class="search-btn" id="search-on" type="button"><img th:src="@{/files/common/search.svg}" /></button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="container">
        <div class="search-popup" id="search-popup" th:fragment="calm-search">
            <div class="search-box" id="search-box">
                <div class="search-form">
                    <form method="get" th:action="@{/product/search}">
                        <input type="text" name="keyword" id="keyword" placeholder="SEARCH" />
                        <button type="submit"><img th:src="@{/files/common/search.svg}"/></button>
                    </form>
                </div>
            </div>    
        </div>

        <div class="search-background" style="height: 0" th:fragment="calm-search-bg">

        </div>

        <div class="top-btn-box" th:fragment="calm-top-btn">
            <button type="button" id="top-btn">
                <img th:src="@{/files/common/top_scroll_arrow.svg}" />
                <p>TOP</p>
            </button>
        </div>
    </div>


    <footer class="footer" th:fragment="calm-footer">

        <div class="footer-container">
            <!-- footer title -->
            <div class="footer-title">
                <img class="img-title" th:src="@{/files/common/ft_cal_logo.svg}" />
                <p>완벽한 쉼, 비건 라이프 캄모멘트리</p>
                <img class="img-logo" th:src="@{/files/common/ft_logo.svg}" />
            </div>

            <!-- company info -->
            <div class="footer-info">
                <div class="cs-info">
                    <span>고객센터</span><span>1544-8971</span>
                    <span>월-금 / 09:00~17:00</span>
                    <span>(점심시간 12:30~13:30 / 주말, 공휴일 휴무)</span>
                </div>
                <div class="address">
                    <span>(주)그린슈타인 Greenstein</span>
                    <br />
                    <span>10594 경기도 고양시 덕양구 동산동 376 삼송테크노밸리 A동 252호</span>
                    <br />
                    <span>사업자 등록번호 안내 : 170-86-00512</span>
                    <span>대표 Geun Young Leem</span>
                    <span>통신판매업 신고 제 2016-고양덕양구-0641호</span>
                    <a href="#">[사업자정보확인]</a>
                    <br />
                    <span>개인정보보호책임자 : 김재철</span>
                    <span>유선전화 : 1544-8971</span>
                    <span>팩스 : 070-7500-9668</span>
                    <a href="mailto:kig7174@naver.com">(admin@grstein.com)</a>
                    <br />
                    <span>입금계좌 안내 신한은행 100-031-436946</span>
                    <span>(주)그린슈타인 Greenstein</span>
                    <br />
                </div>
                <div class="copy-box">
                    <span>
                        Copyright &copy; 2024 Greensteint. All Rights Reserved.
                    </span>
                    <br />
                    <span>
                        캄모멘트리의 모든 상품 이미지 및 컨텐츠의 저작권은 (주)그린슈타인에 있으며 무단 사용시 법적 제재를 받을 수 있습니다.
                    </span>
                </div>
            </div>

            <!-- inquiry -->
            <div class="footer-right">
                <div class="footer-inquiry">
                    <p>
                        친환경과 프리미엄을 동시에,
                        <br/>
                        최고급 품질의 어메니티로 특별함을 더하세요.
                    </p>
                    <a class="inquiry-btn" href="#">B2B 문의</a>
                </div>

                <!-- footer menu -->
                <div class="footer-menu">
                    <ul class="footer-menu-list">
                        <li class="footer-list-title"><a href="#">이용약관</a></li>
                        <li class="footer-list-title"><a href="#">개인정보처리방침</a></li>
                        <li class="footer-list-title"><a href="#">홈어메니티멤버쉽</a></li>
                        <li class="footer-list-title"><a href="#">SNS
                            <div class="sns-list">
                                <a href="#">인스타그램</a>
                                <a href="#">카카오톡</a>
                            </div>
                        </a></li>
                        <li class="footer-list-title"><a href="#">비즈니스
                                <div class="business-list">
                                    <a href="#">어메니티 문의</a>
                                    <a href="#">파트너스</a>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <script src="/src/main/resources/static/assets/js/common.js"></script>
    <script>
        

    </script>
</body>
</html>