<th:block th:fragment="calm-head(title)">
    <meta charset="UTF-8">
    <meta translate="no"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calmomentree</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700;900&amp;display=swap" />
    <link rel="stylesheet" th:href="@{/assets/css/reset.css}" />
    <link rel="stylesheet" th:href="@{/assets/css/common.css}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert2/11.13.1/sweetalert2.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <title th:text="${title}"></title>
</th:block>