<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calmomentree</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700;900&amp;display=swap" />
    <link rel="stylesheet" href="/src/main/resources/static/assets/css/reset.css" />
    <link rel="stylesheet" href="/src/main/resources/static/assets/css/common.css" />
</head>
<body>
    <header>
        <div class="banner">
            <div class="top">
                <a href="#">신규회원 2,000원 적립금 | 홈 어메니티 멤버십 40%-50% 할인혜택</a>
            </div>
            <div class="bottom">
                <a href="#">안티에이징 허브 영양‧보습 ~30%</a>
            </div>
        </div>
        <div class="menu">
            <div class="menu-inner">
                <div class="menu-title">
                    <a href="#">
                        <img src="https://placehold.co/100x50" />
                    </a>
                </div>
                <div class="menu-category">
                    <div class="category-inner">
                        <ul class="category-list">
                            <li class="category-item"><a>ALL</a></li>
                            <li class="category-item"><a>Best</a></li>
                            <li class="category-item"><a>Promotion</a></li>

                            <li class="category-item"><a>Hair</a>
                                <ul class="sub-category">
                                    <li><a>샴푸</a></li>
                                    <li><a>트리트먼트</a></li>
                                    <li><a>스타일링</a></li>
                                </ul>
                            </li>

                            <li class="category-item"><a>Body</a>
                                <ul class="sub-category">
                                    <li><a>워시</a></li>
                                    <li><a>바디크림</a></li>
                                    <li><a>핸드</a></li>
                                </ul>
                            </li>

                            <li class="category-item"><a>Facial</a>
                                <ul class="sub-category">
                                    <li><a>토너/에센스</a></li>
                                    <li><a>크림</a></li>
                                </ul>
                            </li>

                            <li class="category-item"><a>Gift</a>
                                <ul class="sub-category">
                                    <li><a>헤어</a></li>
                                    <li><a>바디</a></li>
                                    <li><a>워시</a></li>
                                    <li><a>페이셜</a></li>
                                    <li><a>베이비</a></li>
                                    <li><a>쇼핑백</a></li>
                                </ul>
                            </li>

                            <li class="category-item"><a>Baby & Life</a>
                                <ul class="sub-category">
                                    <li><a>베이비</a></li>
                                    <li><a>덴탈</a></li>
                                    <li><a>리빙</a></li>
                                </ul>
                            </li>

                            <li class="category-item"><a>Membership</a></li>
                            <li class="category-item"><a>About</a>
                                <ul class="sub-category">
                                    <li><a>브랜드스토리</a></li>
                                    <li><a>ESG 캠페인</a></li>
                                    <li><a>지속 가능한 실천</a></li>
                                    <li><a>공병수거신청</a></li>
                                    <li><a>CO-프로모션</a></li>
                                    <li><a>PARTNERS</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="other-menu">
                    <div class="login">
                        <a>로그인</a>
                        <a>카트
                           <span class="cart">
                            (
                            <span class="cart-count">1</span>
                            )
                           </span>
                        </a>
                        <a>고객문의</a>
                        <a>B2B 문의</a>
                        <a>
                            <button type="button"><img src="https://placehold.co/30x30" /></button>
                        </a>
                    </div>

                    <div class="logout" style="display:none">
                        <a>로그아웃</a>
                        <a>카트
                           <span class="cart">
                            (
                            <span class="cart-count">1</span>
                            )
                           </span>
                        </a>
                        <a>커뮤니터</a>
                        <a>마이페이지</a>
                        <a>B2B 문의</a>
                        <a>
                            <button type="button"><img src="https://placehold.co/30x30" /></button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="container"></div>

    <script src="/src/main/resources/static/assets/js/common.js"></script>
</body>
</html>