<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calmomentree</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700;900&amp;display=swap" />
    <link rel="stylesheet" href="/src/main/resources/static/assets/css/reset.css" />
    <link rel="stylesheet" href="/src/main/resources/static/assets/css/common.css" />
</head>
<body>
    <div class="popup">
        <div class="popup-box">
            <img src="https://placehold.co/300x100" width="500px"/>
            <label>
                <input type="checkbox" id="no-open" value="Y"/>
                오늘 하루 열지 않기
            </label>
            <button type="button" id="close-popup">X</button>
        </div>
    </div>

    <script src="assets/js/common.js"></script>
</body>
</html>