<th:block th:fragment="calm-scripts">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script src="https://cdn.ckeditor.com/ckeditor5/37.0.1/classic/ckeditor.js"></script>
    <script th:src="@{/assets/js/helpers/AxiosHelper.js}"></script>
    <script th:src="@{/assets/js/helpers/RegexHelper.js}"></script>
    <script th:src="@{/assets/js/helpers/UtilHelper.js}"></script>
</th:block>