<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="~{fragments/head :: calm-head('주문배송조회')}"></th:block>
    <link rel="stylesheet" th:href="@{/assets/css/myshop.css}" />
</head>

<body>
    <!-- 헤더 영역 -->
    <header id="header">
        <header th:replace="~{/fragments/common :: calm-header}"></header>
    </header>

    <div class="container-box">
        <div th:replace="~{/fragments/common :: calm-search}"></div>
        <div th:replace="~{/fragments/common :: calm-search-bg}"></div>
        <div th:replace="~{/fragments/common :: calm-top-btn}"></div>

        <!-- 사이드바 구역 -->
        <div class="side-bar">
            <div class="board-box">
                <ul class="board-inner">
                    <li><a th:href="@{/myshop}">마이페이지</a></li>
                    <li><a th:href="@{/myshop/order/list}">주문/배송조회</a></li>
                    <li><a href="" style="text-decoration: line-through;">쿠폰/적립금</a></li>
                    <li><a th:href=@{/myshop/board_list}>게시글관리</a></li>
                    <li><a th:href="@{/member/modify}">회원정보수정</a></li>
                </ul>
            </div>
        </div>
        <!-- 메인 영역 -->
        <div class="container">
            <div class="myshop-area">
                <div class="myshop-title">
                    <p class="title">Order List</p>
                </div>
                <div class="myshop-tab">
                    <ul class="menuOrder">
                        <!-- <li class="menu-list"><a href="">주문내역조회</a></li>
              <li class="menu-list cancel"><a href="">취소/반품/교환 내역</a></li> -->
                    </ul>
                </div>
                <div class="order-history-box">
                    <form id="order_list_form" class="state-select">
                        <select name="order_state" id="order-status" class="select-status">
                            <option value="">전체 주문처리상태</option>
                            <option value="결제완료">결제완료</option>
                            <option value="배송준비중">배송준비중</option>
                            <option value="배송중">배송중</option>
                            <option value="배송완료">배송완료</option>
                        </select>
                        <div class="period">
                            <a href="" days="00">오늘</a>
                            <a href="" days="30">1개월</a>
                            <a href="" days="90">3개월</a>
                            <a href="" days="180">6개월</a>
                        </div>
                        <div class="date">
                            <input type="date" id="start-date" name="start_date" class="start-date" />
                            -
                            <input type="date" id="end-date" name="end_date" class="end-date" />
                        </div>
                        <button type="button" class="btn-submit">찾기</button>
                    </form>

                    <div class="order-list">
                        
                    </div>
                </div>


            </div>
        </div>
    </div>

    <footer th:replace="~{/fragments/common :: calm-footer}"></footer>

    <th:block th:replace="~{/fragments/script}"></th:block>
    <script>
        function deleteOrders() {
            const rem = document.querySelectorAll(".order");
            rem.forEach((v, i) => v.remove());
        }

        function orderDataAsync(data) {
            data.orders.forEach((order, i) => {
                requestAnimationFrame(() => {
                    addOrderToDOM(order);
                });
            });
        }

        function addOrderToDOM(order) {
            const { rownum: a, orderState: b, imgUrl: c, totalPrice: d, totalQuantity: e, orderItem: f, orderItemCount: g } = order;

            const list = document.querySelector(".order-list");

            const item = document.createElement("div");
            item.classList.add("order");

            const orderContent = `
                <div class="order-num"><span>${a}</span></div>
                <div class="thumbnail"><img src="${c || 'default-image.jpg'}" alt="thumbnail"></div>
                <div class="description">
                    <strong>${f} ${g - 1 > 0 ? `외 ${g - 1}개` : ''}</strong>
                    <span>${d.toLocaleString()} 원</span>
                    <span>${e} (개)</span>
                </div>
                <div class="prd-status"><span>${b}</span></div>
            `;

            item.innerHTML = orderContent;
            list.appendChild(item);
        }

        (async () => {
            deleteOrders();

            data = await axiosHelper.get("[[@{/api/myshop/order/list}]]");

            if (data) {
                orderDataAsync(data);
            }
        })();

        document.querySelector(".btn-submit").addEventListener("click", async (e) => {
            e.preventDefault();

            const form = new FormData(e.currentTarget.form);

            let data = null;

            deleteOrders();

            try {
                data = await axiosHelper.get("[[@{/api/myshop/order/list}]]", form);

                if (data) {
                    orderDataAsync(data);
                }
            } catch (error) {
                console.error("Error fetching order data:", error);
            } 
        });
    </script>
</body>

</html>