<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
    <th:block th:replace="~{fragments/head :: calm-head('주문배송조회')}"></th:block>
    <link rel="stylesheet" th:href="@{/assets/css/myshop.css}" />
  </head>
  <body>
    <!-- 헤더 영역 -->
    <header id="header">
      <header th:replace="~{/fragments/common :: calm-header}"></header>
    </header>

    <div class="container-box">
      <div th:replace="~{/fragments/common :: calm-search}"></div>
      <div th:replace="~{/fragments/common :: calm-search-bg}"></div>
      <div th:replace="~{/fragments/common :: calm-top-btn}"></div>
      
      <!-- 사이드바 구역 -->
      <div class="side-bar">
        <div class="board-box">
          <ul class="board-inner">
            <li><a href="">마이페이지</a></li>
            <li><a href="">주문/배송조회</a></li>
            <li><a href="">쿠폰/적립금</a></li>
            <li><a href="">게시글관리</a></li>
            <li><a href="">회원정보수정</a></li>
          </ul>
        </div>
      </div>
      <!-- 메인 영역 -->
      <div class="container">
        <div class="myshop-area">
          <div class="myshop-title">
            <p class="title">Order List</p>
          </div>
          <div class="myshop-tab">
            <ul class="menuOrder">
              <li class="menu-list"><a href="">주문내역조회</a></li>
              <li class="menu-list cancel"><a href="">취소/반품/교환 내역</a></li>
            </ul>
          </div>
          <div class="order-history-box">
            <div class="state-select">
              <select name="order-status" id="order-status" class="select-status">
                <option value="all">전체 주문처리상태</option>
                <option value="before">입금전</option>
                <option value="standby">배송준비중</option>
                <option value="begin">배송중</option>
                <option value="complate">배송완료</option>
                <option value="cancel">취소</option>
                <option value="exchange">교환</option>
                <option value="return">반품</option>
              </select>
              <span class="period">
                <a href="" days="00">오늘</a>
                <a href="" days="30">1개월</a>
                <a href="" days="90">3개월</a>
                <a href="" days="180">6개월</a>
              </span>
              <div class="date">
                <span class="date-picker">
                  <input type="date" id="start-date" name="start-date" class="start-date" />

                  -
                  <input type="date" id="end-date" name="end-date" class="end-date" />

                  <button type="submit" class="btn-submit">찾기</button>
                </span>
              </div>
            </div>
            <div class="order-list">
              <div class="order">
                <div class="order-num">
                  <span>15</span>
                </div>
                <div class="thumnail">
                  <a href=""><img src="https://via.placeholder.com/83" alt="" width="83" height="83" /></a>
                </div>
                <div class="description">
                  <strong class="prd-name">떼르말 세라마이드 헤드 스파 샴푸 500ML</strong>
                  <span class="price">28,000원</span>
                  <span class="qyt">1(개)</span>
                </div>
                <div class="prd-status" title="주문처리상태">
                  <span>배송중</span>
                </div>
              </div>
              <div class="order">
                <div class="order-num">
                  <span>15</span>
                </div>
                <div class="thumnail">
                  <a href=""><img src="https://via.placeholder.com/83" alt="" width="83" height="83" /></a>
                </div>
                <div class="description">
                  <strong class="prd-name">떼르말 세라마이드 헤드 스파 샴푸 500ML</strong>
                  <span class="price">28,000원</span>
                  <span class="qyt">1(개)</span>
                </div>
                <div class="prd-status" title="주문처리상태">
                  <span>배송중</span>
                </div>
              </div>
              <div class="order">
                <div class="order-num">
                  <span>15</span>
                </div>
                <div class="thumnail">
                  <a href=""><img src="https://via.placeholder.com/83" alt="" width="83" height="83" /></a>
                </div>
                <div class="description">
                  <strong class="prd-name">떼르말 세라마이드 헤드 스파 샴푸 500ML</strong>
                  <span class="price">28,000원</span>
                  <span class="qyt">1(개)</span>
                </div>
                <div class="prd-status" title="주문처리상태">
                  <span>배송중</span>
                </div>
              </div>
            </div>
          </div>

          <!-- 페이지 번호 -->
          <div class="paging-box">
            <ul class="pagination">
              <li><a class="left">&laquo;</a></li>
              <li><a class="active">1</a></li>
              <li><a>2</a></li>
              <li><a class="right">&raquo;</a></li>
            </ul>
          </div>
          
        </div>
      </div>
    </div>

    <footer th:replace="~{/fragments/common :: calm-footer}"></footer>

    <th:block th:replace="~{/fragments/script}"></th:block>
    <!-- <script src="/src/main/resources/static/assets/js/orderList.js"></script> -->
    <script>
      // 취소/반품/교환 내역 클릭시 드롭다운 없어짐
      document.querySelector(".cancel").addEventListener("click", (e) => {
        e.preventDefault();

        document.querySelector(".select-status").classList.add("blind");
      });
    </script>
  </body>
</html>
