<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
    <th:block th:replace="~{/fragments/head :: calm-head('제품리뷰 목록')}"></th:block>
    <link rel="stylesheet" th:href="@{/assets/css/product.css}" />
  </head>
  <style>
    
  </style>
  <body>
    <header id="header">
      <header th:replace="~{/fragments/common :: calm-header}"></header>
    </header>
    <div class="container">
      <div th:replace="~{/fragments/common :: calm-top-btn}"></div>
      <div th:replace="~{/fragments/common :: calm-search}"></div>
      <div th:replace="~{/fragments/common :: calm-search-bg}"></div>
      
      <!-- 왼쪽 사이드바 board 영역 -->
      <div th:replace="~{fragments/boardBox :: board}"></div>
      
      <div class="table-container">
        <div class="title-wr">Review</div>
        <div class="board-list">
          <table border="1">
            <caption style="display: none">
              상품 게시판 목록
            </caption>
            <colgroup>
              <col width="10%" />
              <col width="10%" />
              <col width="auto" />
              <col width="20%" />
              <col width="12%" />
              <col width="12%" />
            </colgroup>
            <thead>
              <!-- <tr>
                <th class="no">NO</th>
                <th class="title">TITLE</th>
                <th class="name">NAME</th>
                <th class="date">DATE</th>
              </tr> -->
            </thead>
            <tbody>
              <tr th:each="review : ${review}">
                <td class="chk-no" th:text="${review.rownum}"></td>
                <td class="thumb"><a th:href="@{/product/detail/{prodId}(prodId=${review.prodId})}"><img th:src="${review.imgUrl}" alt="" class="reviewImg"></a></td>
                <td class="subject"><a th:href="@{/board/product/read/{reviewBoardId}/{prodId}(reviewBoardId=${review.reviewBoardId},prodId=${review.prodId})}"><span th:text="${review.reviewTitle}"></span></a></td>
                <td class="writer" th:text="${review.userName}"></td>
                <td class="date" th:text="${review.writeDate}"></td>
                <!-- <td class="star"><img src="http://placehold.co/74x17" alt=""></td> -->
                <td class="star" th:text="${review.rating}"></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="btn-area">
          <a th:href="@{/board/product/write}" class="btn1">글쓰기</a>
        </div>

        <!-- 페이지 번호 -->
        <div class="paging-box">
          <ul class="pagination">
            <li th:if="${pagination.prevPage > 0}">
                <a th:href="@{/board/product/list(keyword=${keyword}, page=${pagination.prevPage})}">&laquo;</a>
            </li>
            <li th:unless="${pagination.prevPage > 0}"><a>&laquo;</a></li>
            
            <li th:each="i : ${#numbers.sequence(pagination.startPage, pagination.endPage)}">
                <a th:if="${i == pagination.nowPage}" class="active" th:text="${i}"></a>
                <a th:unless="${i == pagination.nowPage}" th:text="${i}" th:href="@{/board/product/list(keyword=${keyword}, page=${i})}" />
            </li>
    
            <li th:if="${pagination.nextPage > 0}">
                <a th:href="@{/board/product/list(keyword=${keyword}, page=${pagination.nextPage})}">&raquo;</a>
            </li>
            <li th:unless="${pagination.nextPage > 0}"><a>&raquo;</a></li>
        </ul>
        </div>

        <div class="search-container">
          <div class="search-box">
            <div class="form">
              <input type="text" placeholder="내용을 입력하세요" />
              <a href="">찾기</a>
            </div>
          </div>
        </div>
      </div>
      <div class="board-box right"></div>
    </div>
    <footer th:replace="~{/fragments/common :: calm-footer}"></footer>

    <th:block th:replace="~{/fragments/script}"></th:block>
    <script>
      // 평점 -> 별로 바꾸기 ( '★' ) 
      const value = document.querySelectorAll(".star");
      value.forEach((v,i) => {
        const star = v.innerHTML;
        
        switch (star) {
          case "5" :
            return v.innerHTML = "★★★★★";
          case "4" :
            return v.innerHTML = "★★★★";
          case "3" :
            return v.innerHTML = "★★★";
          case "2" :
            return v.innerHTML = "★★";
          case "1" :
            return v.innerHTML = "★";
        }
      });
      
    </script>
  </body>
</html>
