<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
    <th:block th:replace="~{fragments/head :: calm-head('게시글 수정')}"></th:block>
    <link rel="stylesheet" th:href="@{/assets/css/product.css}" />
  </head>
  <body>
    <header th:replace="~{/fragments/common :: calm-header}"></header>
    
    <div class="containerBox modify">
      <div th:replace="~{/fragments/common :: calm-search}"></div>
      <div th:replace="~{/fragments/common :: calm-search-bg}"></div>
      <div th:replace="~{/fragments/common :: calm-top-btn}"></div>
      
      <div class="reviewContent">
        <table border="1">
          <colgroup>
            <col style="width: 190px" />
            <col style="width: auto" />
          </colgroup>
          <tbody>
            <tr>
              <th>제목</th>
              <td>
                <select name="" id="" class="qna">
                  <option value="">문의드립니다.</option>
                </select>
              </td>
            </tr>
            <tr>
              <th>본문</th>
              <td class="contentBox">
                <div id="content"></div>
              </td>
            </tr>
            <tr>
              <th>첨부파일1</th>
              <td>
                <input type="file" />
              </td>
            </tr>
            <tr>
              <th>첨부파일2</th>
              <td>
                <input type="file" />
              </td>
            </tr>
            <tr>
              <th>첨부파일3</th>
              <td>
                <input type="file" />
              </td>
            </tr>
            <tr>
              <th>첨부파일4</th>
              <td>
                <input type="file" />
              </td>
            </tr>
            <tr>
              <th>첨부파일5</th>
              <td>
                <input type="file" />
              </td>
            </tr>
            <tr>
              <th>비밀번호</th>
              <td>
                <input type="password" size="5" />
              </td>
            </tr>
            <tr>
              <th>비밀글설정</th>
              <td class="star">
                <input type="radio" id="public" class="" name="secure" checked />
                <label for="public">공개글</label>
                <input type="radio" id="private" class="" name="secure" />
                <label for="private">비밀글</label>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="btnArea">
        <button class="goList">목록</button>
        <div class="btnArea2">
          <button class="cancelBtn btn">취소</button>
          <button class="uploadBtn btn">수정</button>
        </div>
      </div>
    </div>
 
    <footer th:replace="~{/fragments/common :: calm-footer}"></footer>

    <th:block th:replace="~{/fragments/script}"></th:block>
    
    
    <script>
      ClassicEditor.create(document.querySelector("#content"));
    </script>
    <script>
        // 내용 입력 여부 확인
      document.querySelector(".uploadBtn").addEventListener("click", (e) => {
        e.preventDefault();

        const content = document.querySelector(".ck-content").textContent;
        console.log(content);
        if(!content) {
            alert("내용(을/를) 입력해주세요.");
        }
      });
    </script>
  </body>
</html>
