<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Calmomentree</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700;900&amp;display=swap" />
    <link rel="stylesheet" href="/src/main/resources/static/assets/css/reset.css" />
    <link rel="stylesheet" href="/src/main/resources/static/assets/css/product.css" />
  </head>
  <body>
    <div class="containerBox">
      <div class="titleBox">
        <span class="title">Review</span>
        <div class="selectProd">
          <img src="http://placehold.co/65" alt="" />
          <span class="select"><a href="">주문상품선택</a></span>
        </div>
      </div>
      <div class="reviewContent">
        <table border="1">
          <colgroup>
            <col style="width: 190px" />
            <col style="width: auto" />
          </colgroup>
          <tbody>
            <tr>
              <th>제목</th>
              <td><input type="text" required /></td>
            </tr>
            <tr>
              <th>평점</th>
              <td class="star">
                <input type="radio" id="point5" name="point" value="5" checked />
                <label for="point5">★★★★★</label>
                <input type="radio" id="point4" name="point" value="4" />
                <label for="point4">★★★★</label>
                <input type="radio" id="point3" name="point" value="3" />
                <label for="point3">★★★</label>
                <input type="radio" id="point2" name="point" value="2" />
                <label for="point2">★★</label>
                <input type="radio" id="point1" name="point" value="1" />
                <label for="point1">★</label>
              </td>
            </tr>
            <tr>
              <th>본문</th>
              <td class="contentBox">
                <div id="content"></div>
              </td>
            </tr>
            <tr>
              <th>첨부파일1</th>
              <td>
                <input type="file" />
              </td>
            </tr>
            <tr>
              <th>첨부파일2</th>
              <td>
                <input type="file" />
              </td>
            </tr>
            <tr>
              <th>첨부파일3</th>
              <td>
                <input type="file" />
              </td>
            </tr>
            <tr>
              <th>첨부파일4</th>
              <td>
                <input type="file" />
              </td>
            </tr>
            <tr>
              <th>첨부파일5</th>
              <td>
                <input type="file" />
              </td>
            </tr>
            <tr>
              <th>비밀번호</th>
              <td>
                <input type="password" size="5" />
              </td>
            </tr>
            <tr>
              <th>비밀글설정</th>
              <td class="star">
                <input type="radio" id="public" class="" name="secure" checked />
                <label for="public">공개글</label>
                <input type="radio" id="private" class="" name="secure" />
                <label for="private">비밀글</label>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="btnArea">
        <button class="cancelBtn btn">취소</button>
        <button class="uploadBtn btn">등록</button>
      </div>
    </div>
    <script src="https://cdn.ckeditor.com/ckeditor5/37.0.1/classic/ckeditor.js"></script>
    <script>
      ClassicEditor.create(document.querySelector("#content"));
    </script>
    <script>
      document.querySelector(".select").addEventListener("click", e=>{
          e.preventDefault();
          
          const popup = window.open('/src/main/resources/templates/order/search_board_list.html', 
          '', 'width=500, height=500, scrollbars=no, toolbar=no, menubar=no, status=no, location=no');

          // 팝업창이 차단된 경우
          if(!popup) {
              alert('팝업 차단을 해제해 주세요');
          } else {
              popup.focus();
          }
      });
    </script>
  </body>
</html>
