<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calmomentree</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700;900&amp;display=swap" />
    <link rel="stylesheet" href="/src/main/resources/static/assets/css/reset.css" />
    <link rel="stylesheet" href="/src/main/resources/static/assets/css/common.css" />
    <link rel="stylesheet" href="/src/main/resources/static/assets/css/member.css" />
</head>
<body>
    <div class="head">

    </div>

    <div class="container">
        <div class="join-body">
            <div class="head-title">
                <p>Find Password<span>비밀번호가 기억나지 않으세요?</span></p>
            </div>
            <div class="join-form">
                <form method="" action="">    
                    <div class="find-method">
                        <input type="radio" name="find-method" id="find-method1" checked />
                        <label for="find-method1">이메일</label>

                        <input type="radio" name="find-method" id="find-method2" />
                        <label for="find-method2">휴대폰번호</label>

                        <input type="radio" name="find-method" id="find-method3" />
                        <label for="find-method3">휴대폰인증</label>
                    </div>

                    <div class="selected-find-method1">
                        <div class="userid-box input-box">
                            <input type="text" name="userid" placeholder="아이디"/>
                        </div>

                        <div class="name-box input-box">
                            <input type="text" name="name" placeholder="이름"/>
                        </div>

                        <div class="email-box input-box">
                            <input type="email" name="email" placeholder="이메일"/>
                        </div>
                    </div>

                    <div class="selected-find-method2 displaynone">
                        <div class="userid-box input-box">
                            <input type="text" name="userid" placeholder="아이디"/>
                        </div>

                        <div class="name-box input-box">
                            <input type="text" name="name" placeholder="이름"/>
                        </div>

                        <div class="tel-box input-box">
                            <input type="text" name="tel1" maxlength="3" class="tel" placeholder="010" />
                            -
                            <input type="text" name="tel2" maxlength="4" class="tel" placeholder="0000" />
                            -
                            <input type="text" name="tel3" maxlength="4" class="tel" placeholder="0000" />
                        </div>
                    </div>

                    <div class="selected-find-method3 displaynone">
                        <div class="userid-box input-box">
                            <input type="text" name="userid" placeholder="아이디"/>
                        </div>

                        <div class="name-box input-box">
                            <input type="text" name="name" placeholder="이름"/>
                        </div>
                    </div>

                    <button type="submit" class="find-btn">비밀번호 찾기</button>
                </form>
            </div>
        </div>
    </div>

    <div class="foot">

    </div>

    <script>

    </script>
</body>
</html>