<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head> 
    <th:block th:replace="~{fragments/head :: calm-head('co-promotion')}"></th:block>
    <link rel="stylesheet" th:href="@{/assets/css/co-promotion.css}" /> 
</head>
<body>
    <header th:replace="~{/fragments/common :: calm-header}"></header>

    <div class="container">
        <div th:replace="~{/fragments/common :: calm-search}"></div>
        <div th:replace="~{/fragments/common :: calm-search-bg}"></div>
        <div th:replace="~{/fragments/common :: calm-top-btn}"></div>
        <div class="title-box"
            data-aos="fade-up"
            data-aos-offset="0"
            data-aos-easing="ease-out-sine"
            data-aos-duration="700">
            <div class="title-img">
                <img src="https://placehold.co/300x100" />
            </div>
            <div class="title-txt-top"> 
                <h2>CO-PROMOTION</h2>
                <p>캄모멘트리 쉼-프로모션</p>
            </div>
            <div class="title-txt-bottom">
                <p>
                    "We are expanding & developing and servicing sustainable
                    <br />
                    vegan amenities in 2022.”
                </p>
            </div>
        </div>

        <div class="content-box">
            <ul class="content-list">
                <li data-aos="fade-up"
                    data-aos-offset="0"
                    data-aos-delay="1"
                    data-aos-anchor-placement="top-center"
                    data-aos-easing="ease-out-sine"
                    data-aos-duration="800">
                    <div class="content-img">
                        <img src="https://placehold.co/700x500" />
                    </div>
                    <div class="content-txt">
                        <div class="content-txt-top">
                            <div class="top-title">
                                <h3>auqa</h3>
                                <h4>아쿠아</h4>
                            </div>
                            <div class="top-img">
                                <img src="https://placehold.co/300x100" />
                            </div>          
                        </div>
                        <div class="content-txt-bottom">
                            <p>
                                청량한 물
                            </p>
                        </div>
                    </div>
                </li>

                <li data-aos="fade-up"
                    data-aos-offset="0"
                    data-aos-delay="300"
                    data-aos-anchor-placement="top-center"
                    data-aos-easing="ease-out-sine"
                    data-aos-duration="800">
                    <div class="content-img">
                        <img src="https://placehold.co/700x500" />
                    </div>
                    <div class="content-txt">
                        <div class="content-txt-top">
                            <div class="top-title">
                                <h3>auqa</h3>
                                <h4>아쿠아</h4>
                            </div>
                            <div class="top-img">
                                <img src="https://placehold.co/300x100" />
                            </div>          
                        </div>
                        <div class="content-txt-bottom">
                            <p>
                                청량한 물
                            </p>
                        </div>
                    </div>
                </li>

                <li data-aos="fade-up"
                    data-aos-offset="100"
                    data-aos-delay="600"
                    data-aos-easing="ease-out-sine"
                    data-aos-duration="800">
                    <div class="content-img">
                        <img src="https://placehold.co/700x500" />
                    </div>
                    <div class="content-txt">
                        <div class="content-txt-top">
                            <div class="top-title">
                                <h3>auqa</h3>
                                <h4>아쿠아</h4>
                            </div>
                            <div class="top-img">
                                <img src="https://placehold.co/300x100" />
                            </div>          
                        </div>
                        <div class="content-txt-bottom">
                            <p>
                                청량한 물
                            </p>
                        </div>
                    </div>
                </li>

                <li data-aos="fade-up"
                    data-aos-offset="100"
                    data-aos-delay="900"
                    data-aos-easing="ease-out-sine"
                    data-aos-duration="800">
                    <div class="content-img">
                        <img src="https://placehold.co/700x500" />
                    </div>
                    <div class="content-txt">
                        <div class="content-txt-top">
                            <div class="top-title">
                                <h3>auqa</h3>
                                <h4>아쿠아</h4>
                            </div>
                            <div class="top-img">
                                <img src="https://placehold.co/300x100" />
                            </div>          
                        </div>
                        <div class="content-txt-bottom">
                            <p>
                                청량한 물
                            </p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <footer th:replace="~{/fragments/common :: calm-footer}"></footer>

    <th:block th:replace="~{/fragments/script}"></th:block>
    <script>
        AOS.init();
    </script>
</body>
</html>