<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
    <th:block th:replace="~{fragments/head :: calm-head('공병수거신청')}"></th:block>
    <link rel="stylesheet" th:href="@{/assets/css/recycling.css}" />
    <link rel="stylesheet" href="https://unpkg.com/aos@2.3.1/dist/aos.css" />
  </head>

  <body>
    <header th:replace="~{/fragments/common :: calm-header}"></header>
    <div th:replace="~{/fragments/common :: calm-top-btn}"></div>
    <div th:replace="~{/fragments/common :: calm-search}"></div>
    <div th:replace="~{/fragments/common :: calm-search-bg}"></div>

    <!-- 타이틀 사진구역 -->
    <div class="title-container">
      <div class="title-img-box">
        <div class="img-box"><img src="http://placehold.co/1960x800" alt="" style="width: 100%; height: 70vh" /></div>
      </div>
      <div class="title-text box" data-aos="fade-up" data-aos-offset="0">
        <p class="title">Recycling Campaign</p>
        <p class="text">공병수거</p>
      </div>
      <div class="title-text box2" data-aos="fade-up" data-aos-offset="0" data-aos-duration="900">
        <p class="text2">
          "We are expanding & developing and servicing sustainable <br />
          vegan amenities in 2022.”
        </p>
      </div>
    </div>
    <div class="main-container">
      <!-- 공병수거 캠페인 안내 -->
      <div class="campaign-box" data-aos="fade-up" data-aos-offset="0" data-aos-duration="900">
        <p class="title">RECYCLING CAMPAIGN</p>
        <p class="title2">캄모멘트리 공병수거 정책 안내</p>
        <p class="text">캄모멘트리 공식몰 회원에 한합니다. (비회원은 가입 후 참여 가능)</p>
        <p class="text">캄모멘트리 제품 공병만 수거합니다</p>
        <p class="text">• 5개부터 수거 가능합니다</p>
        <p class="text">• 1년에 무제한 수거 가능합니다</p>
        <p class="text">• 공병 1개당 현금처럼 사용할 수 있는 500P 제공</p>
        <div class="campaign-box-img">
          <img src="http://placehold.co/305x135" alt="" />
        </div>
        <p class="text2">• 캄모멘트리에서 택배비 부담</p>
        <p class="text2">* 캄모멘트리가 지정한 CJ대한통운 택배사 사용 신청 시만 해당</p>
      </div>
      <!-- 공병수거 정책 안내 -->
      <div class="policy-box" data-aos="fade-up" data-aos-offset="0" data-aos-duration="900" data-aos-anchor-placement="top-bottom">
        <div class="policy-title title">캄모멘트리 공병수거 정책 안내</div>
        <div class="policy-app box">
          <div class="app-title title">공병수거 신청</div>
          <ul class="app-list">
            <li>· 캄모멘트리 공식몰 회원에 한합니다 (비회원은 가입 후 참여 가능)</li>
            <li>· 캄모멘트리 제품 공병만 수거합니다</li>
            <li>· 5개부터 수거 가능합니다</li>
            <li>· 1년에 무제한 수거 가능합니다</li>
          </ul>
        </div>
        <div class="policy-profit box">
          <div class="profit-title title">공병수거혜택</div>
          <ul>
            <li>· 공병 1개당 현금처럼 사용할 수 있는 500P 제공</li>
            <li>· 캄모멘트리에서 택배비 부담 (캄모멘트리가 지정한 CJ대한통운 택배사 사용 신청 시만 해당)</li>
          </ul>
        </div>
      </div>
      <!-- 공병 문의 게시판 -->
      <div class="table-container" data-aos="fade-up" data-aos-offset="0" data-aos-duration="900" data-aos-anchor-placement="top-bottom">
        <table border="1">
          <caption style="display: none">
            상품 게시판 목록
          </caption>
          <colgroup>
            <col width="12%" />
            <col width="auto" />
            <col width="12%" />
            <col width="12%" />
          </colgroup>
          <thead>
            <tr>
              <th class="no">NO</th>
              <th class="title">TITLE</th>
              <th class="name">NAME</th>
              <th class="date">DATE</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>158</td>
              <td><a href="">공병수거문의</a></td>
              <td>정****</td>
              <td>2024-10-29</td>
            </tr>
            <tr>
              <td>157</td>
              <td><a href="">공병수거문의</a></td>
              <td>정****</td>
              <td>2024-10-29</td>
            </tr>
            <tr>
              <td>156</td>
              <td><a href="">공병수거문의</a></td>
              <td>정****</td>
              <td>2024-10-29</td>
            </tr>
            <tr>
              <td>155</td>
              <td><a href="">공병수거문의</a></td>
              <td>정****</td>
              <td>2024-10-29</td>
            </tr>
            <tr>
              <td>154</td>
              <td><a href="">공병수거문의</a></td>
              <td>정****</td>
              <td>2024-10-29</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="btn-area">
        <button class="btn1"><a href="">수거 신청하기</a></button>
      </div>

      <!-- 페이지 번호 -->
      <div class="paging-box">
        <ul class="pagination">
          <li><a class="left">&laquo;</a></li>
          <li><a class="active">1</a></li>
          <li><a>2</a></li>
          <li><a class="right">&raquo;</a></li>
        </ul>
      </div>

      <div class="search-container">
        <div class="search-box">
          <div class="form">
            <input type="text" placeholder="내용을 입력하세요" />
            <a href="">검색</a>
          </div>
        </div>
      </div>
      <div class="btn-area2">
        <a href="">
          <div class="btn-img"><img src="http://placehold.co/60" alt="" /></div>
          <p class="btn-title">공병수거신청</p>
          <p class="btn-text">
            지속가능한 삶과 쉼을 위한 제로 웨이스트,
            <br />
            캄모멘트리와 함께 동참하세요
          </p>
        </a>
      </div>
    </div>
    <footer th:replace="~{/fragments/common :: calm-footer}"></footer>

    <th:block th:replace="~{/fragments/script}"></th:block>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
  </body>
</html>
