<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calmomentree</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700;900&amp;display=swap" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <link rel="stylesheet" href="/src/main/resources/static/assets/css/reset.css" />
    <link rel="stylesheet" href="/src/main/resources/static/assets/css/common.css" />
    <link rel="stylesheet" href="/src/main/resources/static/assets/css/brandstory.css" />
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

</head>
<body>
    <header th:fragment="calm-header">
        <div class="banner">
            <div class="top">
                <a href="#">신규회원 2,000원 적립금 | 홈 어메니티 멤버십 40%-50% 할인혜택</a>
            </div>
            <div class="bottom">
                <a href="#">안티에이징 허브 영양‧보습 ~30%</a>
            </div>
        </div>
        <div class="menu">
            <div class="menu-inner">
                <div class="menu-title">
                    <a href="#">
                        <img src="https://placehold.co/100x50" />
                    </a>
                </div>
                <div class="menu-category">
                    <div class="category-inner">
                        <ul class="category-list">
                            <li class="category-item"><a>ALL</a></li>
                            <li class="category-item"><a>Best</a></li>
                            <li class="category-item"><a>Promotion</a></li>

                            <li class="category-item"><a>Hair</a>
                                <ul class="sub-category">
                                    <li><a>샴푸</a></li>
                                    <li><a>트리트먼트</a></li>
                                    <li><a>스타일링</a></li>
                                </ul>
                            </li>

                            <li class="category-item"><a>Body</a>
                                <ul class="sub-category">
                                    <li><a>워시</a></li>
                                    <li><a>바디크림</a></li>
                                    <li><a>핸드</a></li>
                                </ul>
                            </li>

                            <li class="category-item"><a>Facial</a>
                                <ul class="sub-category">
                                    <li><a>토너/에센스</a></li>
                                    <li><a>크림</a></li>
                                </ul>
                            </li>

                            <li class="category-item"><a>Gift</a>
                                <ul class="sub-category">
                                    <li><a>헤어</a></li>
                                    <li><a>바디</a></li>
                                    <li><a>워시</a></li>
                                    <li><a>페이셜</a></li>
                                    <li><a>베이비</a></li>
                                    <li><a>쇼핑백</a></li>
                                </ul>
                            </li>

                            <li class="category-item"><a>Baby & Life</a>
                                <ul class="sub-category">
                                    <li><a>베이비</a></li>
                                    <li><a>덴탈</a></li>
                                    <li><a>리빙</a></li>
                                </ul>
                            </li>

                            <li class="category-item"><a>Membership</a></li>
                            <li class="category-item"><a>About</a>
                                <ul class="sub-category">
                                    <li><a>브랜드스토리</a></li>
                                    <li><a>ESG 캠페인</a></li>
                                    <li><a>지속 가능한 실천</a></li>
                                    <li><a>공병수거신청</a></li>
                                    <li><a>CO-프로모션</a></li>
                                    <li><a>PARTNERS</a></li>
                                </ul>
                            </li>
                        </ul>
                        <div class="sub-category-box">
                            <img src="https://placehold.co/300x300" />
                        </div>
                    </div>
                </div>

                <div class="other-menu">
                    <div class="login other-menu-list">
                        <a>로그인</a>
                        <a>카트
                           <span class="cart">
                            (
                            <span class="cart-count cart">1</span>
                            )
                           </span>
                        </a>
                        <a>고객문의</a>
                        <a class="b2b-btn">B2B 문의</a>
                        <a>
                            <button type="button"><img src="https://placehold.co/30x30" /></button>
                        </a>
                    </div>

                    <div class="logout other-menu-list" style="display:none">
                        <a>로그아웃</a>
                        <a>카트
                           <span class="cart">
                            (
                            <span class="cart-count cart">1</span>
                            )
                           </span>
                        </a>
                        <a>커뮤니터</a>
                        <a>마이페이지</a>
                        <a class="b2b-btn">B2B 문의</a>
                        <a>
                            <button type="button"><img src="https://placehold.co/30x30" /></button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="container">
        <!-- 내용에 따라 section 분리-->
        <section class="brand_first">
            <div class="inner">
                <div class="img_wr">
                    <img src="https://placehold.co/1960x800" />
                </div>
                <div class="sub_title">
                    <p class="title">Calmomentree is</p>
                </div>    
            </div>
        </section>
        <!-- 내용에 따라 section 분리-->
        <section class="brand_second">
            <div class="inner">
                <div class="sub_title_wr">
                    <p class="text01">
                        TRUE REST, VEGAN LIFE
                    </p>
                    <p class="text02">
                        캄모멘트리는 지속가능한 삶을 위한 능동자로서
                        <br />
                        비건 라이프를 실천하고, 그 안에서의 완벽한 쉼을 위한 라이프스타일을 디자인합니다.
                    </p>
                </div>
                <div class="mood">
                    <div class="img_wr">
                        <img src="https://placehold.co/800x740" />
                        <p class="text03">
                            “왜 대한민국 모든 호텔은 외국 화장품을 어메니티로 사용할까”
                        </p>
                        <p class="text04">
                            Since 2016
                        </p>
                    </div>
                </div>
                <p class="text05">
                    2016년, 캄모멘트리는 이 질문에서 시작했습니다.
                    <br />
                    특급 호텔 & 레저 그룹들이 사랑하는 캄모멘트리는 대한민국 No.1 프리미엄 어메니티 브랜드입니다.
                    <br />
                    캄모멘트리는 지속가능한 삶을 위한 능동자로서 비건 라이프를 실천하고, 완벽한 쉼을 모티브한 최고급 라이프 스타일을 제안합니다.
                    <br />
                    특급 호텔 & 레저 그룹들과 함께 ESG 캠페인을 실천하며 비건 라이프와 레스 웨이스트를 공동 연구합니다.
                </p>
            </div>
        </section>
        <div class="inner">
            <div class="img_wr">
                <img src="https://placehold.co/1960x670" />
            </div>
        </div>
        <!-- 내용에 따라 section 분리-->
        <section class="brand_third">
            <div class="inner02">
                <p class="text03">
                    4 For Sustainability
                </p>
                <p class="text04">
                    캄모멘트리는 지속 가능한 삶과 쉼을 위해 4개의 미션을 실천합니다.
                </p>
                <div class="inner_box">
                    <ul class="inner_list">
                        <li>
                            <div class="inner_img">
                                <img src="https://placehold.co/330x300" />
                                <p class="text06">For Environment</p>
                                <p class="text07">
                                    캄모멘트리는 지속가능한 삶을 위한 능동적 의무자로서
                                    <br />
                                    100% 채식의 비건 라이프를 실천합니다. 원료부터
                                    <br />
                                    생산까지 엄격한 심사를 통과해 까다롭기로 유명한 프랑스
                                    <br />
                                    이브 비건을 인증했습니다.
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="inner_img">
                                <img src="https://placehold.co/330x300" />
                                <p class="text06">For Product</p>
                                <p class="text07">
                                    세계 최고의 R&D 기술력으로 100% 채식의 비건
                                    <br />
                                    원료들만 처방하여 누구나 안심하고 쓸 수 있는 최고급
                                    <br />
                                    프리미엄 제품을 개발합니다. 완벽한 쉼을 구현하기 위해
                                    <br />
                                    향료 대신 100% 천연 에센셜 오일을 사용합니다.
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="inner_img">
                                <img src="https://placehold.co/330x300" />
                                <p class="text06">For Rest</p>
                                <p class="text07">
                                    특급 호텔에서 누리는 완벽한 쉼처럼, 캄모멘트리는 머무는
                                    <br />
                                    모든 공간들에 휴식의 가치를 높이는 라이프 스타일을
                                    <br />
                                    제안합니다. 루틴한 공간에서도 캄모멘트리와 품격있는
                                    <br />
                                    쉼을 디자인하세요.
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="inner_img">
                                <img src="https://placehold.co/330x300" />
                                <p class="text06">For Dignity</p>
                                <p class="text07">
                                    시공간에 어울리는 쉼의 설계를 위해 캄모멘트리는 국내
                                    <br />
                                    최초로 맞춤형 어메니티를 공동 연구합니다. 머무는 호텔과
                                    <br />
                                    리조트에 최적화된 시그니처 어메니티를 설계하여 쉼의
                                    <br />
                                    품격을 높이는데 기여합니다.
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
        <!-- 내용에 따라 section 분리-->
        <section class="brand_forth">
            <div class="inner03">
                <div class="intro_box">
                    <ul class="intro_list">
                        <li>
                            <div class="inner_img">
                                <img src="https://placehold.co/700x600" />
                                <p class="text08">TRUE REST, VEGAN LIFE</p>
                                <p class="text09">
                                    비건 라이프를 실천합니다.
                                    <br />
                                    완벽한 쉼을 위한 라이프스타일, 캄모멘트리
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="inner_img">
                                <img src="https://placehold.co/700x600" />
                                <p class="text08">Home amenity Membership</p>
                                <p class="text09">
                                    국내외 최초의 홈 레지던스 서비스인
                                    <br />
                                    캄모멘트리 특급 호텔 어메니티 서비스를 집에서도 이용하세요.
                                </p>
                            </div>
                        </li>     
                </div>
        </section>
        <!-- 내용에 따라 section 분리-->
        <section class="brand_fifth">
            <div class="inner04">
                <div class="img_wr">
                    <img src="https://placehold.co/235x200" />
                </div>
            </div>
        </section>
    </div>

    <footer class="footer" th:fragment="calm-footer">

        <div class="footer-container">
            <!-- footer title -->
            <div class="footer-title">
                <img class="img-title" src="http://localhost:3001/index/ft_cal_logo.svg" />
                <p>완벽한 쉼, 비건 라이프 캄모멘트리</p>
                <img class="img-logo" src="http://localhost:3001/index/ft_logo.svg" />
            </div>

            <!-- company info -->
            <div class="footer-info">
                <div class="cs-info">
                    <span>고객센터</span><span>1544-8971</span>
                    <span>월-금 / 09:00~17:00</span>
                    <span>(점심시간 12:30~13:30 / 주말, 공휴일 휴무)</span>
                </div>
                <div class="address">
                    <span>(주)그린슈타인 Greenstein</span>
                    <br />
                    <span>10594 경기도 고양시 덕양구 동산동 376 삼송테크노밸리 A동 252호</span>
                    <br />
                    <span>사업자 등록번호 안내 : 170-86-00512</span>
                    <span>대표 Geun Young Leem</span>
                    <span>통신판매업 신고 제 2016-고양덕양구-0641호</span>
                    <a href="#">[사업자정보확인]</a>
                    <br />
                    <span>개인정보보호책임자 : 김재철</span>
                    <span>유선전화 : 1544-8971</span>
                    <span>팩스 : 070-7500-9668</span>
                    <a href="mailto:kig7174@naver.com">(admin@grstein.com)</a>
                    <br />
                    <span>입금계좌 안내 신한은행 100-031-436946</span>
                    <span>(주)그린슈타인 Greenstein</span>
                    <br />
                </div>
                <div class="copy-box">
                    <span>
                        Copyright &copy; 2024 Greensteint. All Rights Reserved.
                    </span>
                    <br />
                    <span>
                        캄모멘트리의 모든 상품 이미지 및 컨텐츠의 저작권은 (주)그린슈타인에 있으며 무단 사용시 법적 제재를 받을 수 있습니다.
                    </span>
                </div>
            </div>

            <!-- inquiry -->
            <div class="footer-right">
                <div class="footer-inquiry">
                    <p>
                        친환경과 프리미엄을 동시에,
                        <br/>
                        최고급 품질의 어메니티로 특별함을 더하세요.
                    </p>
                    <a class="inquiry-btn" href="#">B2B 문의</a>
                </div>

                <!-- footer menu -->
                <div class="footer-menu">
                    <ul class="footer-menu-list">
                        <li class="footer-list-title"><a href="#">이용약관</a></li>
                        <li class="footer-list-title"><a href="#">개인정보처리방침</a></li>
                        <li class="footer-list-title"><a href="#">홈어메니티멤버쉽</a></li>
                        <li class="footer-list-title"><a href="#">SNS
                            <div class="sns-list">
                                <a href="#">인스타그램</a>
                                <a href="#">카카오톡</a>
                            </div>
                        </a></li>
                        <li class="footer-list-title"><a href="#">비즈니스
                                <div class="business-list">
                                    <a href="#">어메니티 문의</a>
                                    <a href="#">파트너스</a>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <!-- <script src="/src/main/resources/static/assets/js/header.js"></script> -->
</body>
</html>