<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Calmomentree</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700;900&amp;display=swap" />
    <link rel="stylesheet" href="/src/main/resources/static/assets/css/reset.css" />
    <link rel="stylesheet" href="/src/main/resources/static/assets/css/board.css" />
</head>

<body>
    <div class="header">

    </div>

    <div id="container">
        <div class="board-box left">
            <ul class="board-inner">
                <li><a href="">공지사항</a></li>
                <li><a href="">공병수거신청</a></li>
                <li><a href="">달력쿠폰</a></li>
                <li><a href="">문의하기</a></li>
                <li><a href="">FAQ</a></li>
                <li><a href="">제품리뷰</a></li>
            </ul>
        </div>
        <div class="inner-box">
            <div class="title-wr">BOARD</div>
            <div class="board-list">
                <table border="1">
                    <colgroup>
                        <col width="80px" />
                        <col width="auto" />
                        <col width="15%" />
                        <col width="80px" />
                    </colgroup>
                    <!-- <thead>
              <tr>
                <th>번호</th>
                <th>제목</th>
                <th>작성자</th>
                <th>작성일</th>
              </tr>
            </thead> -->
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>공지사항</td>
                            <td>Calmomentree</td>
                            <td>2024-10-29</td>
                        </tr>       
                    </tbody>
                </table>
            </div>
            <div class="paging-box">
                <!-- 페이지 번호 -->
                <ul class="pagination">
                    <li><a class="left">&laquo;</a></li>
                    <li><a class="active">1</a></li>
                    <li><a>2</a></li>
                    <li><a class="right">&raquo;</a></li>
                </ul>
            </div>
            <div class="search-container">
                <div class="search-box">
                    <div class="form">
                        <input type="text" placeholder="내용을 입력하세요" />
                        <a href="">검색</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="board-box right">

        </div>
    </div>

    <div class="footer">

    </div>
</body>

</html>