<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Calmomentree</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700;900&amp;display=swap" />
    <link rel="stylesheet" href="/src/main/resources/static/assets/css/reset.css" />
    <link rel="stylesheet" href="/src/main/resources/static/assets/css/board.css" />
  </head>
  <body>
    <header id="header">
      <div class="head"> 헤더영역 </div>
    </header>
    <div id="container">
      <!-- 왼쪽 사이드바 영역 -->
      <div class="board-box left">
        <ul class="board-inner">
          <li><a href="">공지사항</a></li>
          <li><a href="">공병수거신청</a></li>
          <li><a href="">달력쿠폰</a></li>
          <li><a href="">문의하기</a></li>
          <li><a href="">FAQ</a></li>
          <li><a href="">제품리뷰</a></li>
        </ul>
      </div>
      <!-- 내용 영역 -->
      <div class="inner-box">
        <div class="title-wr">board</div>
        <div class="board-list">
          <table border="1">
            <caption>
              공지사항 상세
            </caption>
            <!-- <colgroup>
                <col width="80px" />
                <col width="auto" />
                <col width="15%" />
                <col width="80px" />
              </colgroup> -->
            <!-- <thead>
                <tr>
                  <th>번호</th>
                  <th>제목</th>
                  <th>작성자</th>
                  <th>작성일</th>
                </tr>
              </thead> -->
            <tbody>
              <tr class="detail-box-title">
                <td>리뉴얼 입고 지연 안내</td>
                <td>calmomentree</td>
                <td>2024-07-31</td>
              </tr>
              <tr class="detail-box-content">
                <td>
                  <div class="detail-box">
                    <p>안녕하세요.</p>
                    <p>새롭게 단장한 캄모멘트리 공식몰을 찾아주신 고객님께 감사드립니다.</p>
                    <br/>
                    <p>해당 일부 품목들은 입고 지연으로 인해 8월 중순에 판매가 재개될 예정입니다.</p>
                    <ul class="detail-list-content">
                      <li>허벌 애플 히알루론 핸드 워시, 450G </li>
                      <li>레몬 비타민 에너지 토너, 250ML </li>
                      <li>떼르말 세라마이드 페이스 & 바디 워시, 500ML </li>
                      <li>떼르말 세라마이드 베이비 바스, 450G </li>
                      <li>떼르말 세라마이드 베이비 크림, 300ML </li>
                      <li>떼르말 세라마이드 클렌징 크림 450ML </li>
                      <li>떼르말 세라마이드 토너, 250ML </li>
                      <li>떼르말 세라마이드 선 크림, 450G </li>
                      <li>브라이트리 치약, 150G</li>
                    </ul>
                    <br/>
                    <p>고객님의 깊은 양해 부탁드립니다.</p>
                    <p>감사합니다.</p>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="btn-area">
          <button>목록</button>
        </div>
      </div>
      <div class="board-box right"></div>
    </div>
  </body>
</html>
