<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calmomentree</title>
    <link rel="stylesheet" href="assets/css/reset.css" />
    <link rel="stylesheet" href="assets/css/common.css" />
</head>
<body>
    <div class="header">
        헤더 영역
    </div>

    <div class="container">
        <!-- 내용에 따라 section 분리-->
        <section class="brand_first">
            <div class="inner">
                <div class="img_wr">
                    <img src="" alt="">
                </div>
                <div class="sub_title">
                    <p class="title">title</p>
                    <p class="text">text</p>
                    <p class="text01">text</p>
                </div>
            </div>
        </section>
        <!-- 내용에 따라 section 분리-->
        <section class="brand_second">
            <div class="inner">
                <div class="campaign_text">
                    <p class="text01">text</p>
                    <p class="text02">text</p>
                </div>
                <div class="campaign_logo">
                    <div class="img_wr">
                        <img src="" alt="">
                    </div>
                    <div class="img_wr">
                        <img src="" alt="">
                    </div>
                    <div class="img_wr">
                        <img src="" alt="">
                    </div>
                    <div class="img_wr">
                        <img src="" alt="">
                    </div>
                </div>
            </div>
        </section>
        <!-- 내용에 따라 section 분리-->
        <section class="brand_third">
            <div class="inner">
                <div class="sub_title">
                    <p class="title">title</p>
                </div>
                <ul class="inner_box">
                    <li class="list_box">
                        <div class="img_wr">
                            <img src="" alt="">
                            <p class="text01">text</p>
                            <p class="text03">text</p>
                        </div>
                    </li>
                    <li class="list_box">
                        <div class="img_wr">
                            <img src="" alt="">
                            <p class="text01">text</p>
                            <p class="text03">text</p>
                        </div>
                    </li>
                    <li class="list_box">
                        <div class="img_wr">
                            <img src="" alt="">
                            <p class="text01">text</p>
                            <p class="text03">text</p>
                        </div>
                    </li>
                    <li class="list_box">
                        <div class="img_wr">
                            <img src="" alt="">
                            <p class="text01">text</p>
                            <p class="text03">text</p>
                        </div>
                    </li>
                </ul>
            </div>
        </section>
        <!-- 내용에 따라 section 분리-->
        <section class="brand_forth">
            <div class="inner">
                <div class="sub_title">
                    <p class="title">title</p>
                </div>
                <div class="img_wr">
                    <img src="" alt="">
                    <p class="text">text</p>
                </div>
                <div class="report_box">
                    <ul class="report_img">
                        <li class="img_box">
                            <img src="" alt="">
                        </li>
                        <li class="img_box">
                            <img src="" alt="">
                        </li>
                        <li class="img_box">
                            <img src="" alt="">
                        </li>
                        <li class="img_box">
                            <img src="" alt="">
                        </li>
                        <li class="img_box">
                            <img src="" alt="">
                        </li>
                    </ul>
                    <ul class="text_box">
                        <li>
                            <p class="title">title</p>
                            <p class="text">text</p>
                        </li>
                        <li>
                            <p class="title">title</p>
                            <p class="text">text</p>
                        </li>
                        <li>
                            <p class="title">title</p>
                            <p class="text">text</p>
                        </li>
                        <li>
                            <p class="title">title</p>
                            <p class="text">text</p>
                        </li>
                        <li>
                            <p class="title">title</p>
                            <p class="text">text</p>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
        <!-- 내용에 따라 section 분리-->
        <section class="brand_fifth">
            <div class="inner">
                <div class="sub_title">
                    <p class="title">title</p>
                </div>
                <hr />
                <!-- Add swiper script -->
                <div class="text_swiper">
                    스와이퍼 스크립트
                </div>
            </div>
        </section>
        <!-- 내용에 따라 section 분리-->
        <section class="brand_sixth">
            <div class="inner">
                <div class="img_wr">
                    <img src="" alt="">
                </div>
            </div>
        </section>
    </div>

    <div class="footer">
        풋터 영역
    </div>
</body>
</html>